## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

## Import data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(threshold=np.inf)

In [2]:
bom = pd.read_csv("zippedData/bom.movie_gross.csv.gz")
imdb1 = pd.read_csv("zippedData/imdb.name.basics.csv.gz")
imdb2 = pd.read_csv("zippedData/imdb.title.akas.csv.gz")
imdb3 = pd.read_csv("zippedData/imdb.title.basics.csv.gz")
imdb4 = pd.read_csv("zippedData/imdb.title.crew.csv.gz")
imdb4 = pd.read_csv("zippedData/imdb.title.principals.csv.gz")
imdb5 = pd.read_csv("zippedData/imdb.title.ratings.csv.gz")
rt1 = pd.read_csv("zippedData/rt.movie_info.tsv.gz", sep='\t', encoding = 'unicode_escape')
rt2 = pd.read_csv("zippedData/rt.reviews.tsv.gz", sep='\t', encoding = 'unicode_escape')
tmbd = pd.read_csv("zippedData/tmdb.movies.csv.gz")
tn = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")

- Cast bom 'foreign_gross' column as an integer/ remove all commas from column

- Rename the original_title column of tmbd to 'title' in order to match bom dataframe.

In [3]:
bom["foreign_gross"] = bom["foreign_gross"].str.replace(",","").astype(float)

In [4]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null float64
year              3387 non-null int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

In [74]:
imdb3

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [5]:
bom_titles = bom['title'].unique()
bom_titles

array(['Toy Story 3', 'Alice in Wonderland (2010)',
       'Harry Potter and the Deathly Hallows Part 1', 'Inception',
       'Shrek Forever After', 'The Twilight Saga: Eclipse', 'Iron Man 2',
       'Tangled', 'Despicable Me', 'How to Train Your Dragon',
       'Clash of the Titans (2010)',
       'The Chronicles of Narnia: The Voyage of the Dawn Treader',
       "The King's Speech", 'Tron Legacy', 'The Karate Kid',
       'Prince of Persia: The Sands of Time', 'Black Swan', 'Megamind',
       'Robin Hood', 'The Last Airbender', 'Little Fockers',
       'Resident Evil: Afterlife', 'Shutter Island', 'Salt',
       'Sex and the City 2', 'The Tourist', 'The Expendables',
       'Grown Ups', 'Knight & Day', 'True Grit', "Gulliver's Travels",
       'Percy Jackson & The Olympians: The Lightning Thief',
       'The Social Network', "Valentine's Day",
       "The Sorcerer's Apprentice", 'Due Date', 'Eat Pray Love',
       'Yogi Bear', 'Red', 'Paranormal Activity 2', 'The A-Team',
       'Jackass 3-D', 'The Other Guys', 'Unstoppable', 'Step Up 3-D',
       'The Book of Eli', 'The Town', 'Date Night',
       "Legend of the Guardians: The Owls of Ga'Hoole", 'The Wolfman',
       'The Bounty Hunter', 'Saw 3D', 'Wall Street: Money Never Sleeps',
       'The Fighter', 'Predators', 'A Nightmare on Elm Street (2010)',
       'Dear John', 'Cats & Dogs: The Revenge of Kitty Galore',
       'Tooth Fairy', 'Life as We Know It', 'Hereafter',
       'The Girl with the Dragon Tattoo', 'Love and Other Drugs',
       'Aftershock (Tangshan Dadizhen)', 'Killers', 'Kick-Ass',
       'Green Zone', 'Nanny McPhee Returns', 'Get Him to the Greek',
       'Burlesque', 'The Last Song', 'Dinner for Schmucks', 'Marmaduke',
       'Piranha 3D', 'Oceans', 'Edge of Darkness', 'Vampires Suck',
       'Letters to Juliet', 'The Back-Up Plan',
       'If You Are the One 2 (Fei Cheng Wu Rao II)',
       'Diary of a Wimpy Kid', 'Easy A', 'Hubble 3D', 'Takers',
       'Tales from Earthsea', 'Legion (2010)', 'The American',
       'The Last Exorcism', 'The Next Three Days',
       'The Girl Who Played with Fire', 'Skyline', 'Hot Tub Time Machine',
       'Devil', '127 Hours', "Tyler Perry's Why Did I Get Married Too?",
       'Secretariat', 'The Ghost Writer', 'Morning Glory', 'Remember Me',
       'Cop Out', 'The Crazies', 'From Paris with Love', 'Daybreakers',
       'Alpha and Omega', 'The Switch', "She's Out of My League",
       'Death at a Funeral (2010)', 'How Do You Know',
       'Charlie St. Cloud', 'Scott Pilgrim vs. the World', 'Heartbreaker',
       'The Spy Next Door', 'The Good, the Bad, the Weird', 'Machete',
       "The Girl Who Kicked the Hornet's Nest", 'The Man From Nowhere',
       'When in Rome', 'My Name is Khan', 'Going the Distance',
       'The Concert', 'Agora', 'For Colored Girls', "Brooklyn's Finest",
       'Furry Vengeance', 'Faster', 'The Kids Are All Right',
       'You Will Meet a Tall Dark Stranger', 'The Secret in Their Eyes',
       'Avatar: Special Edition', 'Leap Year', 'You Again',
       'Mesrine: Killer Instinct', 'The Losers', 'Case 39',
       'Ramona and Beezus', 'Splice', 'Fair Game (2010)', 'Let Me In',
       "Mao's Last Dancer", 'Just Wright', 'Our Family Wedding',
       'My Soul to Take', '71 Into the Fire',
       'I Love You, Phillip Morris', 'Country Strong', 'Another Year',
       'Youth in Revolt', 'Buried', '[Rec] 2', 'Repo Men',
       'A Prophet (Un prophète)', 'Soul Kitchen', 'Mother (2010)',
       'Micmacs', 'The Nutcracker in 3D',
       'Sea Rex 3D: Journey to a Prehistoric World', 'I Hate Luv Storys',
       'Extraordinary Measures', 'Somewhere', "Winter's Bone",
       'The Last Station', 'Raajneeti', 'Made in Dagenham',
       'Blue Valentine', 'Tamara Drewe', 'Chloe', 'Looking for Eric',
       "The Warrior's Way", 'I Am Love', 'Jonah Hex', 'Harry Brown',
       'Cyrus', 'Conviction', 'Get Low', 'Babies', 'Stone', 'Peepli Live',
       'Never Let Me Go', 'Mid-August Lunch', 'MacGruber', 'City Island',
       'Inside Job', 'The Joneses', 'Centurion', 'Animal Kingdom',
       'Nowhere Boy', "It's Kind of a Funny Story",
       'Waiting for "Superman"', 'Greenberg',
       'Coco Chanel & Igor Stravinsky', 'Vincere',
       'The Illusionist (2010)', 'Exit Through the Gift Shop',
       'Mademoiselle Chambon', 'Solitary Man', 'Rabbit Hole', 'Vision',
       'Mother and Child', 'The Runaways', 'Four Lions', 'Wild Grass',
       'Please Give', 'Monsters', 'Rare Exports: A Christmas Tale',
       'The Killer Inside Me', 'The Perfect Game', 'To Save a Life',
       'Inspector Bellamy', 'Catfish', 'Wild Target',
       'Outside the Law (Hors-la-loi)', 'Frozen (2010)', 'Dabangg',
       'Kites', 'Letters to God', 'Twelve', 'Tees Maar Khan', 'Fish Tank',
       'Housefull', 'Golmaal 3', 'After.Life', 'Cairo Time', 'Flipped',
       'Guzaarish', 'Ondine', 'Anjaana Anjaani', 'John Rabe', 'Restrepo',
       'Raavan', 'The City of Your Final Destination',
       "It's a Wonderful Afterlife", 'Ajami', 'Army of Crime', 'Lebanon',
       'Howl', 'Videocracy', "When You're Strange",
       'The Salvation Poem (Poema de Salvacion)', 'Casino Jack',
       'Leaving', 'Khatta Meetha', 'We Are Family', 'Leaves of Grass',
       'North Face', 'Creation', 'No One Knows About Persian Cats',
       'Carlos', 'Hideaway (Le Refuge)',
       'The Disappearance of Alice Creed', 'Break Ke Baad', 'Veer (2010)',
       'Life During Wartime', 'Enter the Void', 'The Secret of Kells',
       'The Polar Express (IMAX re-issue 2010)', 'No Problem',
       'All Good Things', 'Jack Goes Boating', 'Holy Rollers',
       'Chain Letter', 'I Spit on Your Grave', "I'm Still Here",
       'Salt of this Sea', 'Undertow (2010)', 'Father of My Children',
       'The Greatest (2010)', 'The Extra Man', 'Tiny Furniture',
       'Dogtooth', 'Grease (Sing-a-Long re-issue)', 'The Tempest',
       'The Good Heart', 'Formosa Betrayed', 'Red Hill',
       'Welcome to the Rileys', 'A Woman, A Gun and A Noodle Shop',
       'The Girl on the Train', 'Mesrine: Public Enemy No. 1',
       '44 Inch Chest', 'Karthik Calling Karthik', 'Last Train Home',
       'Eyes Wide Open', 'Waste Land', 'South of the Border',
       'Human Centipede', 'Lovely, Still', 'The Girl (Flickan)',
       'Sweetgrass', 'Bitch Slap', 'Chance Pe Dance',
       'Client 9: The Rise and Fall of Eliot Spitzer',
       'Casino Jack and the United States of Money', "Perrier's Bounty",
       'Around a Small Mountain', 'Spring Fever', 'The Eclipse',
       "George A. Romero's Survival of the Dead", 'The Romantics',
       'Celine: Through the Eyes of the World', 'Freakonomics',
       'Saint John of Las Vegas', 'Band Baaja Baaraat', 'White Lion',
       'Kisses', 'Waking Sleeping Beauty', 'Enemies of the People',
       'Badmaash Company', 'Hadewijch', 'Alamar', 'As Good as Dead',
       'Inhale', 'Hatchet 2', 'District B13: Ultimatum', 'GasLand',
       'Boogie Woogie', 'Come Undone (2010)', 'The Red Baron',
       'Bluebeard', 'Daddy Longlegs', 'Living in Emergency', 'Nenette',
       'Picture Me', 'The Thorn in the Heart', 'The Taqwacores', 'Cherry',
       'Terkel in Trouble', 'Kimjongilia', 'Aashayein (Wishes)',
       'Harry Potter and the Deathly Hallows Part 2',
       'Transformers: Dark of the Moon',
       'Pirates of the Caribbean: On Stranger Tides',
       'The Twilight Saga: Breaking Dawn Part 1',
       'Mission: Impossible - Ghost Protocol', 'Kung Fu Panda 2',
       'Fast Five', 'The Hangover Part II', 'The Smurfs', 'Cars 2',
       'Puss in Boots', 'Sherlock Holmes: A Game of Shadows', 'Rio',
       'Rise of the Planet of the Apes', 'Thor',
       'The Adventures of Tintin', 'Captain America: The First Avenger',
       'X-Men: First Class', 'Alvin and the Chipmunks: Chipwrecked',
       'Real Steel', 'Bridesmaids', 'Super 8', 'Rango',
       'The Girl with the Dragon Tattoo (2011)', 'The Green Hornet',
       'Immortals', 'Green Lantern', 'The Help', 'Bad Teacher',
       'Just Go With It', 'Battle: Los Angeles', 'Horrible Bosses',
       'Paranormal Activity 3', 'Gnomeo and Juliet',
       "Mr. Popper's Penguins", 'Hugo', 'The Lion King (in 3D)', 'Hop',
       'War Horse', 'The Descendants', 'Cowboys & Aliens', 'In Time',
       'Zookeeper', 'The Muppets', 'Limitless', 'Johnny English Reborn',
       'Final Destination 5', 'Tower Heist', 'Midnight in Paris',
       'Happy Feet Two', 'I Am Number Four', 'Jack and Jill',
       'Friends with Benefits', 'No Strings Attached', 'Arthur Christmas',
       'Source Code', 'Crazy, Stupid, Love.', "New Year's Eve",
       'Contagion', 'The Artist', 'The Three Musketeers (2011)',
       'Unknown', 'The Adjustment Bureau', 'We Bought a Zoo',
       'Water for Elephants', 'The Iron Lady', 'Moneyball', 'Sanctum',
       'Justin Bieber: Never Say Never', 'Paul', 'Scream 4', 'Insidious',
       'The Rite', 'Dolphin Tale', 'Season of the Witch', 'Sucker Punch',
       'Red Riding Hood', 'Spy Kids: All the Time in the World',
       'J. Edgar', 'Hall Pass', 'Big Mommas: Like Father, Like Son',
       'Abduction', 'Tinker, Tailor, Soldier, Spy', 'Priest',
       'Drive (2011)', 'The Mechanic', 'The Ides of March',
       'The Change-Up', 'The Lincoln Lawyer',
       'Diary of a Wimpy Kid: Rodrick Rules', 'Larry Crowne',
       'The Dilemma', 'The Darkest Hour', 'Hanna', 'Footloose (2011)',
       'Elite Squad: The Enemy Within', 'Colombiana',
       'Something Borrowed', 'One Day', 'Beginning of the Great Revival',
       'Killer Elite', 'Extremely Loud & Incredibly Close',
       'The Tree of Life', "Tyler Perry's Madea's Big Happy Family",
       'Detective Dee and the Mystery of the Phantom Flame',
       'Winnie the Pooh', 'Conan the Barbarian (2011)', 'Soul Surfer',
       'War of the Arrows', 'Arthur (2011)', 'The Debt', 'Beastly',
       'Of Gods and Men', 'Born to Be Wild (IMAX)',
       'Evangelion 2.0: You Can (Not) Advance', 'Fright Night (2011)',
       '30 Minutes or Less', 'The Roommate', 'Shark Night 3D',
       'Monte Carlo', '50/50', 'Mars Needs Moms', 'Dream House',
       'Jumping the Broom', "Don't Be Afraid of the Dark", 'RA One',
       'A Very Harold & Kumar 3D Christmas', 'My Week with Marilyn',
       'The Sitter', 'Jane Eyre', 'Courageous', 'Shaolin', 'African Cats',
       'The Skin I Live In', "I Don't Know How She Does It",
       "What's Your Number?", 'Drive Angry', 'Carnage (2011)',
       'A Dangerous Method', 'The Thing (2011)', 'The Eagle',
       'Legend of the Fist: The Return of Chen Zhen', 'Apollo 18',
       'Biutiful', 'Your Highness', 'Our Idiot Brother', 'The Rum Diary',
       'The Women on the 6th Floor', 'Potiche', 'Warrior', 'Young Adult',
       "Sarah's Key", 'The Way Back', 'A Separation', 'The Guard',
       'Margin Call', 'Glee The 3D Concert Movie', 'Shame',
       '13 Assassins', 'Hoodwinked Too! Hood vs. Evil',
       'The Heir Apparent: Largo Winch', 'The Last Godfather',
       'Delhi Belly', 'Melancholia',
       'Judy Moody and the NOT Bummer Summer', 'The Conspirator',
       'Anonymous', 'Ip Man 2: Legend of the Grandmaster',
       'The Housemaid', 'Desert Flower', 'Pina', 'Beginners',
       'My Afternoons with Margueritte', 'I Saw the Devil',
       'The Hedgehog', 'Gainsbourg: A Heroic Life', 'The Warring States',
       'What Women Want (Wo Zhi Nu Run Xin)',
       'Snow Flower and the Secret Fan', 'Win Win', 'Flying Monsters',
       'City of Life and Death', 'Le Havre', 'Straw Dogs (2011)', 'Prom',
       'In a Better World', 'Trespass (2011)', 'Saving Private Perez',
       'Point Blank', 'Winter in Wartime', "Barney's Version (U.S. only)",
       'Outrage (2011)', 'Senna', 'Last Night', 'The Big Year',
       'The Beaver', 'Take Me Home Tonight', 'Cedar Rapids',
       'The Princess of Montpensier', 'Cave of Forgotten Dreams',
       'Sex and Zen 3D: Extreme Ecstasy', 'We Need to Talk About Kevin',
       'Attack the Block', 'Even the Rain', 'Young Goethe in Love',
       '11-11-11', 'Certified Copy', 'Thank You (2011)',
       'The Company Men', 'Force', 'Tucker & Dale Vs. Evil',
       'London Boulevard', 'Dylan Dog: Dead of Night',
       'The Names of Love', 'The Way', 'Burke and Hare',
       "King of Devil's Island", 'Bride Flight', 'Trollhunter', 'Buck',
       'Carancho', 'Like Crazy', 'The Double', 'Don 2', 'Love Crime',
       'Incendies (U.S. only)', 'Martha Marcy May Marlene',
       'Fireflies in the Garden', "The King's Speech (PG-13)",
       'Machine Gun Preacher', 'The Last Circus', 'From Prada to Nada',
       'Flypaper', 'Zindagi Na Milegi Dobara', 'Take Shelter',
       'The Greatest Miracle', 'Rapt', 'Pastorela', 'The Double Hour',
       'Everything Must Go', '3 (2011)', 'Oranges and Sunshine',
       'Ong Bak 3', 'Poetry', 'The Tree',
       'The Butcher, the Chef and the Swordsman', 'The Trip (2011)',
       'Armadillo', 'Bodyguard', 'Brighton Rock', 'A Somewhat Gentle Man',
       'The Topp Twins: Untouchable Girls', 'Another Earth',
       'A Better Life', 'Chalet Girl', 'Yamla Pagla Deewana',
       'Bill Cunningham New York', 'The Art of Getting By',
       "The Devil's Double",
       'Uncle Boonmee Who Can Recall His Past Lives', 'The Whistleblower',
       'Red State', 'London River', 'Desi Boyz',
       'When We Leave (Die Fremde)', 'There Be Dragons',
       'Vanishing on 7th Street',
       'Page One: A Year Inside the New York Times',
       'The Time That Remains', 'Rockstar (2011)', "Meek's Cutoff",
       'Texas Killing Fields', 'Ready', 'Miral', 'Submarine',
       'Higher Ground', "Mozart's Sister", 'Plastic Planet',
       'Chillar Party', 'Mausam', 'The First Grader',
       'Hobo With a Shotgun', 'Tabloid', 'Dhobi Ghat (Mumbai Diaries)',
       'Aarakshan (Reservation)',
       'POM Wonderful Presents: The Greatest Movie Ever Sold',
       'No One Killed Jessica', 'Korkoro', 'Blackthorn',
       'How I Ended This Summer', 'The Ledge', 'Heartbeats', 'The Future',
       'Dum Maaro Dum', 'Double Dhamaal', 'Kaboom',
       'Mere Brother Ki Dulhan', 'Weekend (2011)', 'Protektor',
       'Circumstance', 'The Other Woman', 'Project Nim', 'Rage (Rabia)',
       'The Human Resources Manager', 'Hesher', '7 Khoon Maaf',
       'Another Happy Day', 'Singham', 'The Mill and the Cross', 'Super',
       "L'Amour Fou", "Being Elmo: A Puppeteer's Journey",
       'In the Land of Blood and Honey', 'Special Treatment',
       'Illegal (2011)', 'The Interrupters', 'Rascals',
       'The Black Power Mix Tape: 1967-1975', 'Black Death',
       'Le Quattro Volte', 'Life in a Day', 'Caterpillar',
       'Little Girl (La Pivellina)', 'El Bulli: Cooking in Progress',
       'If I Want to Whistle, I Whistle', 'Into the Abyss',
       'HappyThankYouMorePlease', 'The Robber', "Henry's Crime",
       'A Good Old Fashioned Orgy', 'Film Socialisme', 'Bol',
       'Leap Year (2011)', 'A Screaming Man', 'Jig',
       'Nostalgia for the Light', 'Anchor Baby', 'Bellflower',
       'Restless (2011)', 'Road to Nowhere', 'Magic Trip',
       'Eames: The Architect and the Painter',
       'Revenge of the Electric Car',
       'The Human Centipede 2: Full Sequence', 'Cold Weather',
       'Game (2011)', '1911', 'Life, Above All', 'Tomboy (2011)',
       'Octubre', 'The Arbor', 'Mysteries of Lisbon',
       'Vidal Sassoon: The Movie', 'Trust (2011)',
       'Steve Jobs: The Lost Interview', 'Rubber',
       'The Man Who Fell to Earth (35th anniversary re-issue)',
       'Chalo Dilli', 'The Whale', 'Beautiful Boy', 'Puncture',
       'A Beautiful Life', 'Tuesday, After Christmas', 'Viva Riva!',
       'Murder 2', 'Dirty Girl', 'Battleship Potemkin (2011 re-issue)',
       'Love U Mr. Kalakaar', 'Margaret', 'Happy, Happy',
       'The Myth of the American Sleepover', 'Hell and Back Again',
       'Khodorkovsky', 'Sleeping Beauty (2011) (II)', 'My Kingdom (2011)',
       'Love in Space', 'Stake Land', 'Brotherhood (2011)',
       'The Son of No One', 'Muran', 'The Sleeping Beauty', 'Tyrannosaur',
       'Ceremony', "I'm Glad My Mother is Alive", 'Always Kabhi Kabhi',
       'Empire of Silver', '5 Days of War', 'Aurora', 'Magic to Win',
       'Wrecked', 'My Piece of the Pie', 'I Melt With You', 'My Joy',
       'To Die Like a Man', 'Blood Ties', 'Knuckle', 'Main Street',
       'Love, Wedding, Marriage', 'An Invisible Sign',
       "Marvel's The Avengers", 'Skyfall', 'The Dark Knight Rises',
       'The Hobbit: An Unexpected Journey', 'Ice Age: Continental Drift',
       'The Twilight Saga: Breaking Dawn Part 2',
       'The Amazing Spider-Man', "Madagascar 3: Europe's Most Wanted",
       'The Hunger Games', 'MIB 3', 'Life of Pi', 'Ted', 'Brave',
       'Wreck-It Ralph', 'Les Miserables (2012)',
       'The Intouchables (U.S.-only)', 'Django Unchained', 'Prometheus',
       'Snow White and the Huntsman', 'Taken 2', 'Hotel Transylvania',
       "Dr. Seuss' The Lorax", 'Titanic 3D',
       'Journey 2: The Mysterious Island', 'The Expendables 2',
       'Rise of the Guardians', 'Wrath of the Titans', 'Battleship',
       'John Carter', 'The Bourne Legacy', 'Lincoln', 'Dark Shadows',
       'Resident Evil: Retribution', 'Silver Linings Playbook',
       'American Reunion', 'Argo', 'Jack Reacher', 'Safe House',
       '21 Jump Street', 'Total Recall (2012)', 'The Vow',
       'Mirror Mirror', 'The Impossible', 'The Dictator', 'Looper',
       'Magic Mike', 'Flight', 'Underworld Awakening', 'This Means War',
       'The Secret World of Arrietty', 'Paranormal Activity 4',
       'Step Up Revolution', 'The Best Exotic Marigold Hotel',
       'Zero Dark Thirty', 'Ghost Rider: Spirit of Vengeance',
       'Cloud Atlas', 'The Woman in Black', 'Chronicle (2012)',
       'The Pirates! Band of Misfits', 'Parental Guidance',
       'Abraham Lincoln: Vampire Hunter', 'Pitch Perfect', 'Hope Springs',
       'ParaNorman', 'The Campaign', 'Let the Bullets Fly',
       'Star Wars: Episode I - The Phantom Menace (in 3D)', 'Project X',
       'The Devil Inside', 'The Lucky One', 'Contraband',
       'Think Like a Man', 'This Is 40', 'The Inbetweeners Movie',
       'The Possession', "What to Expect When You're Expecting",
       'The Thieves', 'Savages (2012)', 'Frankenweenie', 'Act of Valor',
       'Masquerade (2012)', 'Sinister', 'The Grey',
       'Diary of a Wimpy Kid: Dog Days', 'To Rome with Love',
       'Here Comes the Boom', 'Finding Nemo (3D)', 'Anna Karenina',
       'The Watch', 'Moonrise Kingdom',
       "Tyler Perry's Madea's Witness Protection",
       'The Cabin in the Woods', 'Beauty and the Beast (3D)',
       'Rock of Ages', "That's My Boy", 'The Odd Life of Timothy Green',
       'The Three Stooges', 'The Five-Year Engagement', 'Lawless',
       'Silent Hill: Revelation 3D', 'Red Tails', 'Monsters, Inc. (3D)',
       'Trouble with the Curve', 'Little White Lies', 'End of Watch',
       'Man on a Ledge', 'Red Dawn (2012)',
       'House at the End of The Street', 'The Guilt Trip',
       'A Werewolf Boy', 'Safe (2012)', 'Killing Them Softly',
       'Chernobyl Diaries', 'One For the Money', 'Dredd',
       "Tyler Perry's Good Deeds", 'Arbitrage', 'Chimpanzee',
       'Alex Cross', 'Salmon Fishing in the Yemen',
       'Fetih 1453: The Conquest of Constantinople',
       'Cirque Du Soleil: Worlds Away', 'The Perks of Being a Wallflower',
       'Haywire', 'Katy Perry: Part of Me', 'Lockout', 'Joyful Noise',
       'Premium Rush', 'The Raven', 'Rowdy Rathore', 'Dragon (2012)',
       'Bol Bachchan', 'The Master', 'Rust and Bone', 'Big Miracle',
       'Sparkle (2012)', 'To the Arctic (IMAX)', 'Hitchcock',
       'A Thousand Words', 'Wanderlust', 'Beasts of the Southern Wild',
       'Polisse', 'Amour', 'The Man with the Iron Fists', 'Solomon Kane',
       'Seven Psychopaths', 'Gone', 'Norwegian Wood',
       'The Cold Light of Day', 'My Way (2012)',
       'Tomorrow When the War Began', 'We Have a Pope', 'Headhunters',
       'Hit and Run', 'War of the Buttons (2012)', 'Red Lights (2012)',
       'The Words', 'Playing for Keeps', 'Silent House',

In [6]:
bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [7]:
tmbd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
Unnamed: 0           26517 non-null int64
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [8]:
tmbd

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [9]:
### first left merge here, keep doing this with the dfs below to work towards our working df ###

merge_compare_df = tmbd.merge(bom, left_on=['title'], right_on=['title'], how='left') # how = 'left'

#merge bom and tmdb on matching titles

In [10]:
merge_compare_df.set_index('title', inplace=True)

In [11]:
merge_compare_df.drop(columns='Unnamed: 0', inplace=True)

In [12]:
merge_compare_df.loc[merge_compare_df.duplicated() == True]

,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count,studio,domestic_gross,foreign_gross,year
title,,,,,,,,,,,,
Toy Story,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,7.9,10174,NaN,NaN,NaN,NaN
Toy Story 2,"[16, 35, 10751]",863,en,Toy Story 2,22.698,1999-11-24,7.5,7553,NaN,NaN,NaN,NaN
TRON: Legacy,"[12, 28, 878]",20526,en,TRON: Legacy,13.459,2010-12-10,6.3,4387,NaN,NaN,NaN,NaN
Blue Valentine,"[18, 10749]",46705,en,Blue Valentine,8.994,2010-12-29,6.9,1677,Wein.,9700000.0,2600000.0,2010.0
Rubber,"[35, 18, 14, 27, 9648]",45649,en,Rubber,8.319,2010-09-01,5.9,417,Magn.,100000.0,NaN,2011.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Summer League,"[35, 18]",270805,en,Summer League,0.600,2013-03-18,4.0,3,NaN,NaN,NaN,NaN
Devils in the Darkness,"[27, 53]",453259,en,Devils in the Darkness,0.600,2013-05-15,3.5,1,NaN,NaN,NaN,NaN
Head,"[27, 35, 27]",534282,en,Head,0.600,2015-03-28,1.0,1,NaN,NaN,NaN,NaN
Fail State,[99],495045,en,Fail State,0.600,2018-10-19,0.0,1,NaN,NaN,NaN,NaN
Making Filmmakers,[99],492837,en,Making Filmmakers,0.600,2018-04-07,0.0,1,NaN,NaN,NaN,NaN

In [13]:
merge_compare_df.drop_duplicates(inplace=True)

# Now we have a dataframe with data merged by title from bom and tmdb.

In [14]:
#lets add a total gross profit column (foreign_gross+domestic_gross)

In [15]:
merge_compare_df.groupby(['studio', 'original_language']).sum()

                                id  popularity  vote_average  vote_count  \
studio original_language
3D     en                    78394       2.746           7.4          12
A23    en                   241977       4.108          12.8          22
A24    en                 12150774     454.312         277.5       51950
ADC    en                   386983      14.880          12.2         856
AF     ar                   187028       0.600           7.2          86
...                            ...         ...           ...         ...
Zeit.  he                   261825       1.760           6.7          32
       pt                   543314       4.657          14.6          49
       ro                   160118       3.630           6.8          52
       ru                    78182       7.319           7.3          92
       zh                    45576       2.733           7.2          26

                          domestic_gross  foreign_gross     year
studio original_language
3D     en                      6100000.0      9900000.0   2010.0
A23    en                       164200.0            0.0   4024.0
A24    en                    292687500.0    206400000.0  88670.0
ADC    en                       248200.0            0.0   4032.0
AF     ar                       356000.0            0.0   2014.0
...                                  ...            ...      ...
Zeit.  he                       116000.0            0.0   2014.0
       pt                       244700.0            0.0   4028.0
       ro                        97200.0            0.0   2014.0
       ru                       233000.0            0.0   2012.0
       zh                       288000.0            0.0   2010.0

[398 rows x 7 columns]

In [16]:
merge_compare_df

,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count,studio,domestic_gross,foreign_gross,year
title,,,,,,,,,,,,
Harry Potter and the Deathly Hallows: Part 1,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,7.7,10788,NaN,NaN,NaN,NaN
How to Train Your Dragon,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,7.7,7610,P/DW,217600000.0,277300000.0,2010.0
Iron Man 2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,6.8,12368,Par.,312400000.0,311500000.0,2010.0
Toy Story,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,7.9,10174,NaN,NaN,NaN,NaN
Inception,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,8.3,22186,WB,292600000.0,535700000.0,2010.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Laboratory Conditions,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,0.0,1,NaN,NaN,NaN,NaN
_EXHIBIT_84xxx_,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,0.0,1,NaN,NaN,NaN,NaN
The Last One,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,0.0,1,NaN,NaN,NaN,NaN
Trailer Made,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,0.0,1,NaN,NaN,NaN,NaN
The Church,"[53, 27]",309885,en,The Church,0.600,2018-10-05,0.0,1,NaN,NaN,NaN,NaN

In [17]:
tn

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

# Merge tndb, tn, and bom by movie title

In [18]:
full_dataframe = merge_compare_df.merge(tn, left_on=['title'], right_on=['movie'], how='left')

In [19]:
full_dataframe.isna().sum()

genre_ids                0
id_x                     0
original_language        0
original_title           0
popularity               0
release_date_x           0
vote_average             0
vote_count               0
studio               23113
domestic_gross_x     23132
foreign_gross        23975
year                 23112
id_y                 23371
release_date_y       23371
movie                23371
production_budget    23371
domestic_gross_y     23371
worldwide_gross      23371
dtype: int64

In [20]:
full_dataframe.shape

(25582, 18)

In [21]:
full_dataframe.set_index(['movie'], inplace=True)

In [22]:
full_dataframe.shape

(25582, 17)

# Drop unneccessary columns

In [23]:
full_dataframe.drop(['id_x', 'id_y', 'release_date_x'], axis=1, inplace=True)

In [24]:
full_dataframe.rename(columns={'vote_average':'vote_average_tmdb', 'vote_count':'vote_count_tmdb'}, inplace=True)

In [25]:
full_dataframe.drop(['domestic_gross_y'], axis=1, inplace=True)

In [26]:
full_dataframe.head(50)

,genre_ids,original_language,original_title,popularity,vote_average_tmdb,vote_count_tmdb,studio,domestic_gross_x,foreign_gross,year,release_date_y,production_budget,worldwide_gross
movie,,,,,,,,,,,,,
NaN,"[12, 14, 10751]",en,Harry Potter and the Deathly Hallows: Part 1,33.533,7.7,10788,NaN,NaN,NaN,NaN,NaN,NaN,NaN
How to Train Your Dragon,"[14, 12, 16, 10751]",en,How to Train Your Dragon,28.734,7.7,7610,P/DW,217600000.0,277300000.0,2010.0,"Mar 26, 2010","$165,000,000","$494,870,992"
Iron Man 2,"[12, 28, 878]",en,Iron Man 2,28.515,6.8,12368,Par.,312400000.0,311500000.0,2010.0,"May 7, 2010","$170,000,000","$621,156,389"
Toy Story,"[16, 35, 10751]",en,Toy Story,28.005,7.9,10174,NaN,NaN,NaN,NaN,"Nov 22, 1995","$30,000,000","$364,545,516"
Inception,"[28, 878, 12]",en,Inception,27.920,8.3,22186,WB,292600000.0,535700000.0,2010.0,"Jul 16, 2010","$160,000,000","$835,524,642"
Percy Jackson & the Olympians: The Lightning Thief,"[12, 14, 10751]",en,Percy Jackson & the Olympians: The Lightning T...,26.691,6.1,4229,NaN,NaN,NaN,NaN,"Feb 12, 2010","$95,000,000","$223,050,874"
Avatar,"[28, 12, 14, 878]",en,Avatar,26.526,7.4,18676,NaN,NaN,NaN,NaN,"Dec 18, 2009","$425,000,000","$2,776,345,279"
Toy Story 3,"[16, 10751, 35]",en,Toy Story 3,24.445,7.7,8340,BV,415000000.0,652000000.0,2010.0,"Jun 18, 2010","$200,000,000","$1,068,879,522"
Despicable Me,"[16, 10751, 35]",en,Despicable Me,23.673,7.2,10057,Uni.,251500000.0,291600000.0,2010.0,"Jul 9, 2010","$69,000,000","$543,464,573"
Megamind,"[16, 28, 35, 10751, 878]",en,Megamind,22.855,6.8,3635,P/DW,148400000.0,173500000.0,2010.0,"Nov 5, 2010","$130,000,000","$321,887,208"
Toy Story 2,"[16, 35, 10751]",en,Toy Story 2,22.698,7.5,7553,NaN,NaN,NaN,NaN,"Nov 19, 1999","$90,000,000","$511,358,276"
Alice in Wonderland,"[10751, 14, 12]",en,Alice in Wonderland,22.020,6.6,8713,NaN,NaN,NaN,NaN,"Mar 5, 2010","$200,000,000","$1,025,491,110"
Alice in Wonderland,"[10751, 14, 12]",en,Alice in Wonderland,22.020,6.6,8713,NaN,NaN,NaN,NaN,"Jul 28, 1951","$3,000,000",$0
The Expendables,"[53, 12, 28]",en,The Expendables,21.517,6.1,4647,LGF,103100000.0,171400000.0,2010.0,"Aug 13, 2010","$82,000,000","$268,268,174"
Tangled,"[16, 10751]",en,Tangled,21.511,7.5,6407,BV,200800000.0,391000000.0,2010.0,"Nov 24, 2010","$260,000,000","$586,477,240"
NaN,"[27, 80]",en,Saw 3D,20.370,6.0,1488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
The Twilight Saga: Eclipse,"[12, 14, 18, 10749]",en,The Twilight Saga: Eclipse,20.340,6.0,4909,Sum.,300500000.0,398000000.0,2010.0,"Jun 30, 2010","$68,000,000","$706,102,828"
The Book of Eli,"[28, 53, 878]",en,The Book of Eli,18.985,6.7,3495,WB,94800000.0,62300000.0,2010.0,"Jan 15, 2010","$80,000,000","$158,750,817"
NaN,"[10402, 10749]",nl,LelleBelle,18.586,4.5,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
The Bourne Supremacy,"[28, 18, 53]",en,The Bourne Supremacy,18.199,7.3,4367,NaN,NaN,NaN,NaN,"Jul 23, 2004","$85,000,000","$311,001,124"
Shutter Island,"[18, 53, 9648]",en,Shutter Island,18.060,8.1,12625,Par.,128000000.0,166800000.0,2010.0,"Feb 19, 2010","$80,000,000","$299,461,782"
The Bourne Identity,"[28, 18, 9648, 53]",en,The Bourne Identity,17.935,7.4,5406,NaN,NaN,NaN,NaN,"Jun 14, 2002","$60,000,000","$214,357,371"
Knight and Day,"[28, 35]",en,Knight and Day,17.713,6.0,2494,NaN,NaN,NaN,NaN,"Jun 23, 2010","$117,000,000","$258,751,370"
The Chronicles of Narnia: The Voyage of the Dawn Treader,"[12, 10751, 14]",en,The Chronicles of Narnia: The Voyage of the Da...,17.382,6.3,3196,Fox,104400000.0,311300000.0,2010.0,"Dec 10, 2010","$155,000,000","$418,186,950"
Step Up 3D,"[18, 10749]",en,Step Up 3D,17.174,6.7,1160,NaN,NaN,NaN,NaN,"Aug 6, 2010","$30,000,000","$165,889,117"
The A-Team,"[53, 28, 12, 35, 80]",en,The A-Team,17.097,6.3,2703,Fox,77200000.0,100000000.0,2010.0,"Jun 11, 2010","$110,000,000","$177,241,171"
NaN,"[18, 36]",en,The King's Speech,16.798,7.7,5013,Wein.,135500000.0,275400000.0,2010.0,NaN,NaN,NaN
Bad Boys,"[28, 35, 80, 53]",en,Bad Boys,16.608,6.6,2936,NaN,NaN,NaN,NaN,"Apr 7, 1995","$23,000,000","$141,247,413"
The Last Airbender,"[28, 12, 10751, 14]",en,The Last Airbender,16.595,4.6,2143,Par.,131800000.0,187900000.0,2010.0,"Jul 1, 2010","$150,000,000","$319,713,881"
Predators,"[28, 878, 12, 53]",en,Predators,16.216,6.1,1979,Fox,52000000.0,75200000.0,2010.0,"Jul 9, 2010","$40,000,000","$127,234,389"
The Social Network,[18],en,The Social Network,15.889,7.2,6116,Sony,97000000.0,128000000.0,2010.0,"Oct 1, 2010","$40,000,000","$224,922,135"
NaN,"[28, 53]",en,Undisputed III: Redemption,15.886,7.4,302,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Apollo 13,"[18, 36]",en,Apollo 13,15.855,7.4,2821,NaN,NaN,NaN,NaN,"Jun 30, 1995","$65,000,000","$335,802,271"
Armageddon,"[28, 53, 878, 12]",en,Armageddon,15.799,6.7,4267,NaN,NaN,NaN,NaN,"Jul 1, 1998","$140,000,000","$554,600,000"
The Bourne Ultimatum,"[28, 18, 9648, 53]",en,The Bourne Ultimatum,15.620,7.4,4440,NaN,NaN,NaN,NaN,"Aug 3, 2007","$130,000,000","$444,043,396"
Clash of the Titans,"[12, 14, 28]",en,Clash of the Titans,15.574,5.7,3714,NaN,NaN,NaN,NaN,"Apr 1, 2010","$125,000,000","$493,214,888"
Clash of the Titans,"[12, 14, 28]",en,Clash of the Titans,15.574,5.7,3714,NaN,NaN,NaN,NaN,"Jun 12, 1981","$15,000,000","$44,400,000"
NaN,"[35, 10749]",en,The Back-Up Plan,15.490,6.0,806,CBS,37500000.0,40000000.0,2010.0,NaN,NaN,NaN
Robin Hood,"[28, 12, 18]",en,Robin Hood,15.444,6.3,2569,Uni.,105300000.0,216400000.0,2010.0,"May 14, 2010","$210,000,000","$322,459,006"
Robin Hood,"[28, 12, 18]",en,Robin Hood,15.444,6.3,2569,Uni.,105300000.0,216400000.0,2010.0,"Nov 21, 2018","$99,000,000","$84,747,441"
Nanny McPhee and the Big Bang,"[35, 14, 10751]",en,Nanny McPhee and the Big Bang,15.213,6.1,953,NaN,NaN,NaN,NaN,"Aug 20, 2010","$35,000,000","$97,799,865"
Shrek Forever After,"[35, 12, 14, 16, 10751]",en,Shrek Forever After,15.041,6.1,3843,P/DW,238700000.0,513900000.0,2010.0,"May 21, 2010","$165,000,000","$756,244,673"
Easy A,[35],en,Easy A,14.690,6.8,4168,SGem,58400000.0,16600000.0,2010.0,"Sep 17, 2010","$8,000,000","$76,200,721"
The Sorcerer's Apprentice,"[14, 12, 28, 35, 18]",en,The Sorcerer's Apprentice,14.463,5.9,2879,BV,63200000.0,152100000.0,2010.0,"Jul 14, 2010","$160,000,000","$217,986,320"
NaN,"[28, 35, 10749]",en,Scott Pilgrim vs. the World,14.383,7.3,3882,Uni.,31500000.0,16100000.0,2010.0,NaN,NaN,NaN
Grown Ups,[35],en,Grown Ups,14.291,6.1,3171,Sony,162000000.0,109400000.0,2010.0,"Jun 25, 2010","$75,000,000","$272,223,430"
NaN,"[35, 10749]",en,Some Like It Hot,14.200,8.2,1562,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Faster,"[80, 18, 28, 53]",en,Faster,14.172,6.2,895,CBS,23200000.0,12400000.0,2010.0,"Nov 24, 2010","$24,000,000","$35,792,945"
The Wolfman,[27],en,The Wolfman,14.030,5.7,1009,Uni.,62000000.0,77800000.0,2010.0,"Feb 12, 2010","$150,000,000","$142,634,358"
Unstoppable,"[28, 53]",en,Unstoppable,14.010,6.4,1913,Fox,81600000.0,86200000.0,2010.0,"Nov 12, 2010","$95,000,000","$165,720,921"

In [27]:
full_dataframe.loc['Robin Hood']

,genre_ids,original_language,original_title,popularity,vote_average_tmdb,vote_count_tmdb,studio,domestic_gross_x,foreign_gross,year,release_date_y,production_budget,worldwide_gross
movie,,,,,,,,,,,,,
Robin Hood,"[28, 12, 18]",en,Robin Hood,15.444,6.3,2569,Uni.,105300000.0,216400000.0,2010.0,"May 14, 2010","$210,000,000","$322,459,006"
Robin Hood,"[28, 12, 18]",en,Robin Hood,15.444,6.3,2569,Uni.,105300000.0,216400000.0,2010.0,"Nov 21, 2018","$99,000,000","$84,747,441"
Robin Hood,"[12, 16, 10751]",en,Storybook Classics - Robin Hood,0.680,5.7,3,Uni.,105300000.0,216400000.0,2010.0,"May 14, 2010","$210,000,000","$322,459,006"
Robin Hood,"[12, 16, 10751]",en,Storybook Classics - Robin Hood,0.680,5.7,3,Uni.,105300000.0,216400000.0,2010.0,"Nov 21, 2018","$99,000,000","$84,747,441"
Robin Hood,"[12, 28, 53]",en,Robin Hood,39.975,5.8,1194,Uni.,105300000.0,216400000.0,2010.0,"May 14, 2010","$210,000,000","$322,459,006"
Robin Hood,"[12, 28, 53]",en,Robin Hood,39.975,5.8,1194,Uni.,105300000.0,216400000.0,2010.0,"Nov 21, 2018","$99,000,000","$84,747,441"

# Drop duplicate movies

In [28]:
full_dataframe.drop_duplicates(inplace=True)

In [29]:
full_dataframe

,genre_ids,original_language,original_title,popularity,vote_average_tmdb,vote_count_tmdb,studio,domestic_gross_x,foreign_gross,year,release_date_y,production_budget,worldwide_gross
movie,,,,,,,,,,,,,
NaN,"[12, 14, 10751]",en,Harry Potter and the Deathly Hallows: Part 1,33.533,7.7,10788,NaN,NaN,NaN,NaN,NaN,NaN,NaN
How to Train Your Dragon,"[14, 12, 16, 10751]",en,How to Train Your Dragon,28.734,7.7,7610,P/DW,217600000.0,277300000.0,2010.0,"Mar 26, 2010","$165,000,000","$494,870,992"
Iron Man 2,"[12, 28, 878]",en,Iron Man 2,28.515,6.8,12368,Par.,312400000.0,311500000.0,2010.0,"May 7, 2010","$170,000,000","$621,156,389"
Toy Story,"[16, 35, 10751]",en,Toy Story,28.005,7.9,10174,NaN,NaN,NaN,NaN,"Nov 22, 1995","$30,000,000","$364,545,516"
Inception,"[28, 878, 12]",en,Inception,27.920,8.3,22186,WB,292600000.0,535700000.0,2010.0,"Jul 16, 2010","$160,000,000","$835,524,642"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,"[27, 18]",en,Laboratory Conditions,0.600,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"[18, 53]",en,_EXHIBIT_84xxx_,0.600,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"[14, 28, 12]",en,The Last One,0.600,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"[10751, 12, 28]",en,Trailer Made,0.600,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"[53, 27]",en,The Church,0.600,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Robin Hood duplicated - drop?

In [30]:
full_dataframe.loc['Robin Hood']

,genre_ids,original_language,original_title,popularity,vote_average_tmdb,vote_count_tmdb,studio,domestic_gross_x,foreign_gross,year,release_date_y,production_budget,worldwide_gross
movie,,,,,,,,,,,,,
Robin Hood,"[28, 12, 18]",en,Robin Hood,15.444,6.3,2569,Uni.,105300000.0,216400000.0,2010.0,"May 14, 2010","$210,000,000","$322,459,006"
Robin Hood,"[28, 12, 18]",en,Robin Hood,15.444,6.3,2569,Uni.,105300000.0,216400000.0,2010.0,"Nov 21, 2018","$99,000,000","$84,747,441"
Robin Hood,"[12, 16, 10751]",en,Storybook Classics - Robin Hood,0.680,5.7,3,Uni.,105300000.0,216400000.0,2010.0,"May 14, 2010","$210,000,000","$322,459,006"
Robin Hood,"[12, 16, 10751]",en,Storybook Classics - Robin Hood,0.680,5.7,3,Uni.,105300000.0,216400000.0,2010.0,"Nov 21, 2018","$99,000,000","$84,747,441"
Robin Hood,"[12, 28, 53]",en,Robin Hood,39.975,5.8,1194,Uni.,105300000.0,216400000.0,2010.0,"May 14, 2010","$210,000,000","$322,459,006"
Robin Hood,"[12, 28, 53]",en,Robin Hood,39.975,5.8,1194,Uni.,105300000.0,216400000.0,2010.0,"Nov 21, 2018","$99,000,000","$84,747,441"

In [31]:
full_dataframe.shape

(25578, 13)

In [32]:
full_dataframe.columns

Index(['genre_ids', 'original_language', 'original_title', 'popularity',
       'vote_average_tmdb', 'vote_count_tmdb', 'studio', 'domestic_gross_x',
       'foreign_gross', 'year', 'release_date_y', 'production_budget',
       'worldwide_gross'],
      dtype='object')

In [33]:
full_dataframe.isna().sum()

genre_ids                0
original_language        0
original_title           0
popularity               0
vote_average_tmdb        0
vote_count_tmdb          0
studio               23109
domestic_gross_x     23128
foreign_gross        23971
year                 23108
release_date_y       23367
production_budget    23367
worldwide_gross      23367
dtype: int64

# Imported Kaggle Data and merged with full_dataframe

In [34]:
kaggle = pd.read_csv('zippedData/tmdb_5000_movies.csv')

In [35]:
kaggle.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [36]:
kaggle.drop(['budget', 'homepage', 'id', 'original_language', 'overview', 'popularity', 'production_countries', 'release_date', 'spoken_languages', 'status', 'tagline', 'vote_average', 'vote_count', 'original_title'], axis=1, inplace=True)

In [37]:
kaggle.shape

(4803, 6)

In [38]:
kaggle['keywords'][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [39]:
kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 6 columns):
genres                  4803 non-null object
keywords                4803 non-null object
production_companies    4803 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
title                   4803 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 225.3+ KB

In [40]:
import ast

In [41]:
kaggle['genres'] = kaggle['genres'].map(lambda x: ast.literal_eval(x))

In [42]:
kaggle['keywords'] = kaggle['keywords'].map(lambda x: ast.literal_eval(x))

In [43]:
kaggle['production_companies'] = kaggle['production_companies'].map(lambda x: ast.literal_eval(x))

In [44]:
type(kaggle['genres'][0])

list

In [45]:
df = full_dataframe.merge(kaggle, left_on=['movie'], right_on=['title'], how='left')
# full_dataframe = tn.merge(merge_compare_df, left_on=['movie'], right_on=['title'])
df.drop(['vote_average_tmdb', 'vote_count_tmdb'], axis='columns')

,genre_ids,original_language,original_title,popularity,studio,domestic_gross_x,foreign_gross,year,release_date_y,production_budget,worldwide_gross,genres,keywords,production_companies,revenue,runtime,title
0,"[12, 14, 10751]",en,Harry Potter and the Deathly Hallows: Part 1,33.533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[14, 12, 16, 10751]",en,How to Train Your Dragon,28.734,P/DW,217600000.0,277300000.0,2010.0,"Mar 26, 2010","$165,000,000","$494,870,992","[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","[{'id': 334, 'name': 'flying'}, {'id': 1318, '...","[{'name': 'DreamWorks Animation', 'id': 521}, ...",494878759.0,98.0,How to Train Your Dragon
2,"[12, 28, 878]",en,Iron Man 2,28.515,Par.,312400000.0,311500000.0,2010.0,"May 7, 2010","$170,000,000","$621,156,389","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'id': 8613, 'name': 'malibu'}, {'id': 8828, ...","[{'name': 'Marvel Studios', 'id': 420}]",623933331.0,124.0,Iron Man 2
3,"[16, 35, 10751]",en,Toy Story,28.005,NaN,NaN,NaN,NaN,"Nov 22, 1995","$30,000,000","$364,545,516","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'name': 'Pixar Animation Studios', 'id': 3}]",373554033.0,81.0,Toy Story
4,"[28, 878, 12]",en,Inception,27.920,WB,292600000.0,535700000.0,2010.0,"Jul 16, 2010","$160,000,000","$835,524,642","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'id': 1014, 'name': 'loss of lover'}, {'id':...","[{'name': 'Legendary Pictures', 'id': 923}, {'...",825532764.0,148.0,Inception
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25575,"[27, 18]",en,Laboratory Conditions,0.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25576,"[18, 53]",en,_EXHIBIT_84xxx_,0.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25577,"[14, 28, 12]",en,The Last One,0.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25578,"[10751, 12, 28]",en,Trailer Made,0.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25579,"[53, 27]",en,The Church,0.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df.set_index(df['title'], inplace=True)

In [47]:
df.shape

(25580, 19)

In [48]:
df.isna().sum()

genre_ids                   0
original_language           0
original_title              0
popularity                  0
vote_average_tmdb           0
vote_count_tmdb             0
studio                  23111
domestic_gross_x        23130
foreign_gross           23973
year                    23110
release_date_y          23367
production_budget       23367
worldwide_gross         23367
genres                  23961
keywords                23961
production_companies    23961
revenue                 23961
runtime                 23961
title                   23961
dtype: int64

In [49]:
df.dropna(subset=['revenue', 'worldwide_gross', 'production_budget','domestic_gross_x', 'foreign_gross'], how='all', inplace=True)

In [50]:
df.isna().sum()

genre_ids                  0
original_language          0
original_title             0
popularity                 0
vote_average_tmdb          0
vote_count_tmdb            0
studio                   943
domestic_gross_x         962
foreign_gross           1805
year                     942
release_date_y          1199
production_budget       1199
worldwide_gross         1199
genres                  1793
keywords                1793
production_companies    1793
revenue                 1793
runtime                 1793
title                   1793
dtype: int64

In [51]:
df.shape

(3412, 19)

In [52]:
# my_list = [df['genres'][0][i]['name'] for i in range(len(df['genres'][0]))]
def my_list(list_1):
    list_of_names = []
    for i in list_1:
        list_of_names.append(i['name'])
    return list_of_names

In [57]:
my_list(df['genres'][1])

['Adventure', 'Action', 'Science Fiction']

In [54]:
df['genres'] = df['genres'].map(lambda x: my_list(x))
df['genres'].head()

TypeError: 'float' object is not iterable

In [55]:
df['keywords'] = df['keywords'].map(lambda x: my_list(x))
df['keywords'].head()

TypeError: 'float' object is not iterable

In [ ]:
df['production_companies'] = df['production_companies'].map(lambda x: my_list(x))
df['production_companies'].head()

In [ ]:
df.groupby(['studio']).size().sort_values(ascending=False)[:10]

In [ ]:
df.groupby(['studio']).size().sort_values(ascending=False)[:10]

In [ ]:
import seaborn as sns

In [ ]:
df['worldwide_gross'].sort_values(ascending=False)[:10]

In [ ]:
df.isna().sum()

In [ ]:
df.iloc[877]

In [56]:
df.loc[df.title == 'Avatar']

,genre_ids,original_language,original_title,popularity,vote_average_tmdb,vote_count_tmdb,studio,domestic_gross_x,foreign_gross,year,release_date_y,production_budget,worldwide_gross,genres,keywords,production_companies,revenue,runtime,title
title,,,,,,,,,,,,,,,,,,,
Avatar,"[28, 12, 14, 878]",en,Avatar,26.526,7.4,18676,NaN,NaN,NaN,NaN,"Dec 18, 2009","$425,000,000","$2,776,345,279","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 1463, 'name': 'culture clash'}, {'id':...","[{'name': 'Ingenious Film Partners', 'id': 289...",2.787965e+09,162.0,Avatar

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3412 entries, How to Train Your Dragon to Jaws
Data columns (total 19 columns):
genre_ids               3412 non-null object
original_language       3412 non-null object
original_title          3412 non-null object
popularity              3412 non-null float64
vote_average_tmdb       3412 non-null float64
vote_count_tmdb         3412 non-null int64
studio                  2469 non-null object
domestic_gross_x        2450 non-null float64
foreign_gross           1607 non-null float64
year                    2470 non-null float64
release_date_y          2213 non-null object
production_budget       2213 non-null object
worldwide_gross         2213 non-null object
genres                  1619 non-null object
keywords                1619 non-null object
production_companies    1619 non-null object
revenue                 1619 non-null float64
runtime                 1619 non-null float64
title                   1619 non-null object
dtypes: float64(7), int64(1), object(11)
memory usage: 613.1+ KB

In [75]:
imdb4

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
1,tt0111414,2,nm0398271,director,NaN,NaN
2,tt0111414,3,nm3739909,producer,producer,NaN
3,tt0323808,10,nm0059247,editor,NaN,NaN
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
...,...,...,...,...,...,...
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [82]:
imdb2

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

In [80]:
imdb3.drop_duplicates(subset=['tconst'])

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

TypeError: 'int' object is not iterable