In [1]:
import pandas as pd
import numpy as np

In [2]:
imdb1 = pd.read_csv("zippedData/imdb.name.basics.csv.gz")
imdb2 = pd.read_csv("zippedData/imdb.title.akas.csv.gz")
imdb3 = pd.read_csv("zippedData/imdb.title.basics.csv.gz")
imdb4 = pd.read_csv("zippedData/imdb.title.crew.csv.gz")
imdb5 = pd.read_csv("zippedData/imdb.title.principals.csv.gz")
imdb6 = pd.read_csv("zippedData/imdb.title.ratings.csv.gz")

# IMDB Web Scraped Data

In [3]:
# cleaning primary keys in imdb dfs
imdb2['title_id'] = imdb2['title_id'].str.strip()
imdb3['tconst'] = imdb3['tconst'].str.strip()
imdb4['tconst'] = imdb4['tconst'].str.strip()
imdb5['tconst'] = imdb5['tconst'].str.strip()
imdb6['tconst'] = imdb6['tconst'].str.strip()

In [4]:
# dropping duplicates
imdb2.drop_duplicates(subset=['title_id'], inplace=True)
imdb3.drop_duplicates(subset=['tconst'], inplace=True)
imdb4.drop_duplicates(subset=['tconst'], inplace=True)
imdb5.drop_duplicates(subset=['tconst'], inplace=True)
imdb6.drop_duplicates(subset=['tconst'], inplace=True)

In [5]:
# importing web scrapes
web_scrape1 = pd.read_csv('scraped_data/imdb_monetary_data_16590.csv')
web_scrape1.set_index(['title_id'], inplace=True)

In [6]:
web_scrape2 = pd.read_csv('scraped_data/imdb_monetary_data_16591_to_25214_.csv')
web_scrape2.set_index(['title_id'], inplace=True)

In [7]:
web_scrape3 = pd.read_csv('scraped_data/imdb_monetary_data_29214_.csv')
web_scrape3.set_index(['title_id'], inplace=True)

In [8]:
web_scrape4 = pd.read_csv('scraped_data/imdb_monetary_data_33736_.csv')
web_scrape4.set_index(['title_id'], inplace=True)

In [9]:
web_scrape5 = pd.read_csv('scraped_data/imdb_monetary_data_49857_.csv')
web_scrape5.set_index(['title_id'], inplace=True)

In [10]:
web_scrape6 = pd.read_csv('scraped_data/imdb_monetary_data_65930_.csv')
web_scrape6.set_index(['title_id'], inplace=True)

In [11]:
web_scrape7 = pd.read_csv('scraped_data/imdb_monetary_data_67456_.csv')
web_scrape7.set_index(['title_id'], inplace=True)

In [12]:
web_scrape8 = pd.read_csv('scraped_data/imdb_monetary_data_77436_.csv')
web_scrape8.set_index(['title_id'], inplace=True)

In [13]:
web_scrape9 = pd.read_csv('scraped_data/imdb_monetary_data_102849_.csv')
web_scrape9.set_index(['title_id'], inplace=True)

In [14]:
# concatenating webscraped data
web_scrape = pd.concat([web_scrape1, web_scrape2, web_scrape3, web_scrape4, web_scrape5, web_scrape6, web_scrape7, web_scrape8, web_scrape9])

In [15]:
# dropping unnamed column
web_scrape.drop(['Unnamed: 0'], axis=1, inplace=True)
web_scrape

,Country,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,Runtime
title_id,,,,,,
tt0369610,USA,"$150,000,000","$208,806,270,","$652,270,625","$1,670,401,444",124 min
tt0381957,UK,NaN,NaN,NaN,NaN,NaN
tt0401729,USA,"$250,000,000","$30,180,188,","$73,078,100","$284,139,100",132 min
tt10010134,France,NaN,NaN,NaN,NaN,52 min
tt10027708,Australia,NaN,NaN,NaN,NaN,94 min
...,...,...,...,...,...,...
tt7896164,Italy,NaN,NaN,NaN,NaN,105 min
tt7897718,Vietnam,"VND100,000,000",NaN,NaN,NaN,51 min
tt7908092,Philippines,NaN,NaN,NaN,"$42,211",104 min
tt7914282,Canada,"CAD180,000",NaN,NaN,NaN,78 min
tt7918024,Germany,NaN,NaN,NaN,NaN,NaN

In [16]:
# cleaning title_id (index)
web_scrape.index = web_scrape.index.str.strip()

In [17]:
# merging imdb2
df = web_scrape.merge(imdb2, left_on=web_scrape.index, right_on=['title_id'])

In [18]:
df = df.merge(imdb3, left_on=['title_id'], right_on=['tconst'])

In [19]:
df = df.merge(imdb4, left_on=['title_id'], right_on=['tconst'])

In [20]:
df = df.merge(imdb5, left_on=['title_id'], right_on=['tconst'])

In [21]:
df = df.merge(imdb6, how='left', left_on=['title_id'], right_on=['tconst'])

### Concatenating Director Tables

In [22]:
directors1 = pd.read_csv('scraped_data/imdb_name_list_202_.csv')

In [23]:
directors2 = pd.read_csv('scraped_data/imdb_name_list_304_.csv')

In [24]:
directors3 = pd.read_csv('scraped_data/imdb_name_list_3016_.csv')

In [25]:
directors4 = pd.read_csv('scraped_data/imdb_name_list_7799_.csv')

In [26]:
directors_names = pd.concat([directors1, directors2, directors3, directors4])

### Merging Director Names with Df

In [27]:
df = df.merge(directors_names, left_on=['directors'], right_on=['name_id'], how='left')

In [28]:
df.drop_duplicates(subset='title_id', inplace=True)

In [29]:
# dropping unnecessary columns
df.drop(['ordering_x', 'language', 'attributes', 'original_title', 'Runtime', 'is_original_title', 'tconst_x', 'tconst_y', 'types', 'category', 'job', 'characters', 'ordering_y', 'title', 'nconst', 'region', 'writers', 'directors', 'Unnamed: 0', 'name_id'], axis=1, inplace=True)

In [30]:
df

,Country,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,title_id,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,name
0,USA,"$150,000,000","$208,806,270,","$652,270,625","$1,670,401,444",tt0369610,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0,Colin Trevorrow
2,UK,NaN,NaN,NaN,NaN,tt0381957,Cloud Cuckoo Land,2012,92.0,Drama,7.6,23.0,NaN
3,USA,"$250,000,000","$30,180,188,","$73,078,100","$284,139,100",tt0401729,John Carter,2012,132.0,"Action,Adventure,Sci-Fi",6.6,241792.0,Andrew Stanton
5,France,NaN,NaN,NaN,NaN,tt10010134,Versailles Rediscovered - The Sun King's Vanis...,2019,52.0,Documentary,7.0,5.0,NaN
6,Australia,NaN,NaN,NaN,NaN,tt10027708,Miguelito,2019,94.0,"Documentary,Music",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109074,Italy,NaN,NaN,NaN,NaN,tt7896164,Ombra e il Poeta,2017,105.0,"Musical,Thriller",4.2,31.0,NaN
109075,Vietnam,"VND100,000,000",NaN,NaN,NaN,tt7897718,OB Movie: Go To The Dark,2018,51.0,"Action,Adventure,Comedy",NaN,NaN,NaN
109076,Philippines,NaN,NaN,NaN,"$42,211",tt7908092,Ang Dalawang Mrs. Reyes,2018,104.0,Comedy,6.9,83.0,Jun Lana
109078,Canada,"CAD180,000",NaN,NaN,NaN,tt7914282,Sashinka,2017,78.0,Drama,6.5,46.0,NaN
109079,Germany,NaN,NaN,NaN,NaN,tt7918024,"Der grausame Gott? Gewalt, Religion und Kunst",2015,NaN,Documentary,NaN,NaN,NaN

# Data Cleaning

In [31]:
# Dropping Null Values
df = df.dropna(subset=['Opening Weekend USA', 'Gross USA', 'Cumulative Worldwide Gross'], how='all')

In [32]:
# Cumulative Worldwide Gross replace NaN with 0
df['Cumulative Worldwide Gross'] = df['Cumulative Worldwide Gross'].fillna(0)

/Users/davidbruce/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
# Movies from India contain 'INR' substring and need to be converted to USD or dropped
INR = df.loc[df['Cumulative Worldwide Gross'].str.contains('INR') == True]
NPR = df.loc[df['Cumulative Worldwide Gross'].str.contains('NPR') == True]

In [34]:
df = df.drop(df.loc[df['Cumulative Worldwide Gross'].str.contains('INR') == True].index)

In [35]:
df = df.drop(df.loc[df['Cumulative Worldwide Gross'].str.contains('NPR') == True].index)

In [36]:
df = df.drop(df.loc[df['Cumulative Worldwide Gross'].str.contains('AUD') == True].index)

In [37]:
def clean_currency(x):
    if isinstance(x, str):
        x = x.replace('$', '').replace(',', '')
        return x
    return(x)

# df['Cumulative Worldwide Gross'] = df['Cumulative Worldwide Gross'].str.replace(',', '').str.replace('$', '')

In [38]:
df['Cumulative Worldwide Gross'] = df['Cumulative Worldwide Gross'].map(lambda x: clean_currency(x))

In [39]:
df['Cumulative Worldwide Gross'] = pd.to_numeric(df['Cumulative Worldwide Gross'])

In [40]:
df['Cumulative Worldwide Gross'][:5]

0     1670401444
3      284139100
10    1025467803
14       2704326
17       1424100
Name: Cumulative Worldwide Gross, dtype: int64

In [41]:
# Gross USA 
df['Gross USA'] = df['Gross USA'].fillna(0)

In [42]:
df['Gross USA'] = df['Gross USA'].map(lambda x: clean_currency(x))

In [43]:
df['Gross USA'] = pd.to_numeric(df['Gross USA'])

In [44]:
df['Gross USA'][:5]

0     652270625
3      73078100
10    334191110
14            0
17            0
Name: Gross USA, dtype: int64

In [45]:
# Opening Weekend USA
df['Opening Weekend USA'] = df['Opening Weekend USA'].fillna(0)

In [46]:
df['Opening Weekend USA'] = df['Opening Weekend USA'].map(lambda x: clean_currency(x))

In [47]:
df['Opening Weekend USA'] = pd.to_numeric(df['Opening Weekend USA'])

In [48]:
df['Opening Weekend USA'][:5]

0     208806270
3      30180188
10    116101023
14            0
17            0
Name: Opening Weekend USA, dtype: int64

In [49]:
df.shape

(17172, 13)

In [50]:
df.Budget

0          $150,000,000
3          $250,000,000
10         $200,000,000
14                  NaN
17                  NaN
              ...
109059    INR60,000,000
109062              NaN
109063     GBP2,500,000
109072              NaN
109076              NaN
Name: Budget, Length: 17172, dtype: object

In [51]:
df['Budget'] = df['Budget'].map(lambda x: clean_currency(x))

In [52]:
df['Budget'] = df['Budget'].fillna('0')

In [53]:
def find_currencies(x):
    currencies = []
    for i in x:
        if i[:3].isalpha():
            currencies.append(i[:3])
    return np.unique(currencies)

In [54]:
budget_curr = df['Budget'].tolist()

In [55]:
list_of_curr = find_currencies(budget_curr).tolist()

## Switched null values to '0' string in order to apply conversion function

In [56]:
df.Budget.fillna('0', inplace = True)

In [57]:
def conversion_rates(x):
    
    list_of_curr = {'ARS':0.01, 'AUD':0.54, 'BGL':0, 'BRL':0.13, 'CAD':0.55, 'CHF':0.8, 'CLP':0.0009, 'CNY':0.1,
                    'COP':0.000175, 'CZK':0.03, 'DKK':0.11, 'EEK':0, 'EGP':0.04, 'EUR':1.17, 'GBP':0.81, 'HKD':0.08,
                    'HUF':0.002, 'IDR':0.000042, 'INR':0.01, 'ISK':0.0053, 'ITL':0, 'JPY':0.007, 'KRW':0.000633, 'LTL':0.25,
                    'NOK':0.11, 'NZD':0.66, 'PEN':0.28, 'PHP':0.02, 'LVL':1.23, 'MXN':0.03, 'MYR':0.16, 'NGN':0.0026,
                    'PKR':0.006, 'PLN':0.25, 'RUR':0.01, 'SEK':0.11, 'SGD':0.73, 'THB':0.03, 'TRL':0.13, 'TWD':0.03, 
                    'UAH':0.04, 'VEB':0.1, 'ZAR':0.06}
    x = str(x)
    x = x.replace(',', '').replace('$','')
    x = x.lstrip()

    
    if x.isdigit() == True:
        return float(x)
    
    country_code = x[:3]
    if country_code in list_of_curr:
        return (float(x[3:len(list(x))]) * list_of_curr[f'{country_code}'])

## Apply conversion function

In [58]:
df['Budget'] = df['Budget'].apply(lambda x: conversion_rates(x))

In [59]:
df.shape

(17172, 13)

# Cleaning Genres Column

In [60]:
df['genres'] = df['genres'].fillna('NaN')

In [61]:
df['genres'] = df['genres'].map(lambda x: list(x.split(',')))

# Rename Director Column

In [62]:
df.rename(columns={'name':'director'}, inplace=True)

# Make Profit Column

In [63]:
df['Budget'] = df['Budget'].replace(0.0, np.nan)

In [64]:
df['Profit'] = df['Cumulative Worldwide Gross']-df['Budget']

In [65]:
df['Budget'] = df['Budget'].fillna(0)
df['Budget'] = df['Budget'].astype(int)
df['Profit'] = df['Profit'].fillna(0)
df['Profit'] = df['Profit'].astype(int)

# Individual Genre Columns Added

In [66]:
list_of_genres = [row[0] for row in df['genres']]

In [67]:
l_o_genres = list(set(list_of_genres))

In [68]:
l_o_genres.remove('NaN')

In [69]:
l_o_genres

['Sport',
 'Fantasy',
 'Western',
 'Horror',
 'Family',
 'Thriller',
 'Biography',
 'Animation',
 'History',
 'Crime',
 'Drama',
 'Romance',
 'Musical',
 'Documentary',
 'Adventure',
 'Comedy',
 'War',
 'Mystery',
 'Action',
 'Music',
 'Sci-Fi']

In [70]:
zero_matrix = np.zeros((len(df), len(l_o_genres)))

In [71]:
dummies = pd.DataFrame(zero_matrix, columns=l_o_genres)

In [72]:
for i, gen in enumerate(df.genres):
    indices = dummies.columns.get_indexer(gen)
    dummies.iloc[i, indices] = 1

In [73]:
df = df.merge(dummies, how='outer', on=df.index)

# Reset Index

In [74]:
df.rename(columns={'key_0':'title_id'}, inplace=True)

In [75]:
df.set_index(['primary_title'], inplace=True)

In [76]:
df.drop(['title_id'], axis=1, inplace=True)

# Make df a .csv

In [77]:
df.to_csv('master_table.csv')