In [1]:
import pandas as pd
import numpy as np

In [2]:
imdb1 = pd.read_csv("zippedData/imdb.name.basics.csv.gz")
imdb2 = pd.read_csv("zippedData/imdb.title.akas.csv.gz")
imdb3 = pd.read_csv("zippedData/imdb.title.basics.csv.gz")
imdb4 = pd.read_csv("zippedData/imdb.title.crew.csv.gz")
imdb5 = pd.read_csv("zippedData/imdb.title.principals.csv.gz")
imdb6 = pd.read_csv("zippedData/imdb.title.ratings.csv.gz")

In [3]:
imdb4

           tconst                      directors              writers
0       tt0285252                      nm0899854            nm0899854
1       tt0438973                            NaN  nm0175726,nm1802864
2       tt0462036                      nm1940585            nm1940585
3       tt0835418                      nm0151540  nm0310087,nm0841532
4       tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
...           ...                            ...                  ...
146139  tt8999974                     nm10122357           nm10122357
146140  tt9001390                      nm6711477            nm6711477
146141  tt9001494          nm10123242,nm10123248                  NaN
146142  tt9004986                      nm4993825            nm4993825
146143  tt9010172                            NaN            nm8352242

[146144 rows x 3 columns]

# IMDB Web Scraped Data

In [4]:
# cleaning primary keys in imdb dfs
imdb2['title_id'] = imdb2['title_id'].str.strip()
imdb3['tconst'] = imdb3['tconst'].str.strip()
imdb4['tconst'] = imdb4['tconst'].str.strip()
imdb5['tconst'] = imdb5['tconst'].str.strip()
imdb6['tconst'] = imdb6['tconst'].str.strip()

In [5]:
# dropping duplicates
imdb2.drop_duplicates(subset=['title_id'], inplace=True)

In [6]:
imdb3.drop_duplicates(subset=['tconst'], inplace=True)
imdb4.drop_duplicates(subset=['tconst'], inplace=True)
imdb5.drop_duplicates(subset=['tconst'], inplace=True)
imdb6.drop_duplicates(subset=['tconst'], inplace=True)

In [7]:
# importing web scrapes
web_scrape1 = pd.read_csv('imdb_monetary_data_16590.csv')
web_scrape1.set_index(['title_id'], inplace=True)

In [8]:
web_scrape2 = pd.read_csv('imdb_monetary_data_16591_to_25214_.csv')
web_scrape2.set_index(['title_id'], inplace=True)

In [9]:
web_scrape3 = pd.read_csv('imdb_monetary_data_29214_.csv')
web_scrape3.set_index(['title_id'], inplace=True)

In [10]:
web_scrape4 = pd.read_csv('imdb_monetary_data_33736_.csv')
web_scrape4.set_index(['title_id'], inplace=True)

In [11]:
web_scrape5 = pd.read_csv('imdb_monetary_data_49857_.csv')
web_scrape5.set_index(['title_id'], inplace=True)

In [12]:
web_scrape6 = pd.read_csv('imdb_monetary_data_65930_.csv')
web_scrape6.set_index(['title_id'], inplace=True)

In [13]:
web_scrape7 = pd.read_csv('imdb_monetary_data_67456_.csv')
web_scrape7.set_index(['title_id'], inplace=True)

In [14]:
web_scrape8 = pd.read_csv('imdb_monetary_data_77436_.csv')
web_scrape8.set_index(['title_id'], inplace=True)

In [15]:
# concatenating webscraped data
web_scrape = pd.concat([web_scrape1, web_scrape2, web_scrape3, web_scrape4, web_scrape5, web_scrape6, web_scrape7, web_scrape8])
print(web_scrape.columns, end='\n\n')
print(web_scrape.shape, end='\n\n')
print(web_scrape.isna().sum())

Index(['Unnamed: 0', 'Country', 'Budget', 'Opening Weekend USA', 'Gross USA',
       'Cumulative Worldwide Gross', 'Runtime'],
      dtype='object')

(77501, 7)

Unnamed: 0                        0
Country                         178
Budget                        54747
Opening Weekend USA           73279
Gross USA                     72991
Cumulative Worldwide Gross    64313
Runtime                       18117
dtype: int64

In [16]:
# dropping unnamed column
web_scrape.drop(['Unnamed: 0'], axis=1, inplace=True)
web_scrape

,Country,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,Runtime
title_id,,,,,,
tt0369610,USA,"$150,000,000","$208,806,270,","$652,270,625","$1,670,401,444",124 min
tt0381957,UK,NaN,NaN,NaN,NaN,NaN
tt0401729,USA,"$250,000,000","$30,180,188,","$73,078,100","$284,139,100",132 min
tt10010134,France,NaN,NaN,NaN,NaN,52 min
tt10027708,Australia,NaN,NaN,NaN,NaN,94 min
...,...,...,...,...,...,...
tt2997780,India,NaN,NaN,NaN,NaN,105 min
tt2998378,Portugal,NaN,NaN,NaN,"$5,910",90 min
tt2998380,Indonesia,NaN,NaN,NaN,NaN,110 min
tt2999132,Canada,NaN,NaN,NaN,NaN,74 min
tt3004010,USA,NaN,NaN,NaN,NaN,83 min

In [17]:
# cleaning title_id (index)
web_scrape.index = web_scrape.index.str.strip()

In [18]:
# merging imdb2
df = web_scrape.merge(imdb2, left_on=web_scrape.index, right_on=['title_id'])

In [19]:
df = df.merge(imdb3, left_on=['title_id'], right_on=['tconst'])

In [20]:
df = df.merge(imdb4, left_on=['title_id'], right_on=['tconst'])

In [21]:
df = df.merge(imdb5, left_on=['title_id'], right_on=['tconst'])

In [22]:
df = df.merge(imdb6, how='left', left_on=['title_id'], right_on=['tconst'])

In [23]:
df

,Country,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,Runtime,title_id,ordering_x,title,region,...,writers,tconst_x,ordering_y,nconst,category,job,characters,tconst_y,averagerating,numvotes
0,USA,"$150,000,000","$208,806,270,","$652,270,625","$1,670,401,444",124 min,tt0369610,10,Джурасик свят,BG,...,"nm0415425,nm0798646,nm1119880,nm2081046,nm0000341",tt0369610,10,nm0189777,producer,producer,NaN,tt0369610,7.0,539338.0
1,UK,NaN,NaN,NaN,NaN,NaN,tt0381957,1,Cloud Cuckoo Land,GB,...,"nm1458371,nm1461088",tt0381957,10,nm1108038,composer,NaN,NaN,tt0381957,7.6,23.0
2,USA,"$250,000,000","$30,180,188,","$73,078,100","$284,139,100",132 min,tt0401729,10,Джон Картер: Мiж двох свiтiв,UA,...,"nm0004056,nm0028764,nm0149290,nm0123194",tt0401729,10,nm0606640,producer,producer,NaN,tt0401729,6.6,241792.0
3,France,NaN,NaN,NaN,NaN,52 min,tt10010134,1,Versailles Rediscovered - The Sun King's Vanis...,NaN,...,"nm2205937,nm1355962,nm10542772,nm0873469",tt10010134,10,nm0674930,editor,NaN,NaN,tt10010134,7.0,5.0
4,Australia,NaN,NaN,NaN,NaN,94 min,tt10027708,1,Miguelito - Canto a Borinquen,NaN,...,nm3495624,tt10027708,10,nm7089722,editor,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77076,India,NaN,NaN,NaN,NaN,105 min,tt2997780,1,Edegarike,IN,...,"nm5746541,nm5746543",tt2997780,10,nm4337423,cinematographer,NaN,NaN,tt2997780,7.3,187.0
77077,Portugal,NaN,NaN,NaN,"$5,910",90 min,tt2998378,1,Famel Top Secret,PT,...,"nm2597242,nm1796990",tt2998378,1,nm2597242,actor,NaN,"[""PP (Pedro Famel)""]",tt2998378,6.0,25.0
77078,Indonesia,NaN,NaN,NaN,NaN,110 min,tt2998380,1,Hello Goodbye,ID,...,nm1907447,tt2998380,10,nm1330371,production_designer,NaN,NaN,tt2998380,6.9,18.0
77079,Canada,NaN,NaN,NaN,NaN,74 min,tt2999132,1,Lobsang,CA,...,nm5747769,tt2999132,1,nm5747768,director,NaN,NaN,NaN,NaN,NaN
77080,USA,NaN,NaN,NaN,NaN,83 min,tt3004010,1,Gabrielle,US,...,nm5208945,tt3004010,10,nm5271314,actor,NaN,"[""Orderly""]",tt3004010,4.1,35.0

In [24]:
# dropping unnecessary columns
df.drop(['ordering_x', 'language', 'attributes', 'original_title', 'Runtime', 'is_original_title', 'tconst_x', 'tconst_y', 'types', 'category', 'job', 'characters', 'ordering_y', 'title'], axis=1, inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77081 entries, 0 to 77080
Data columns (total 16 columns):
Country                       76921 non-null object
Budget                        22728 non-null object
Opening Weekend USA           4221 non-null object
Gross USA                     4508 non-null object
Cumulative Worldwide Gross    13180 non-null object
title_id                      77081 non-null object
region                        68112 non-null object
primary_title                 77081 non-null object
start_year                    77081 non-null int64
runtime_minutes               65427 non-null float64
genres                        75714 non-null object
directors                     75904 non-null object
writers                       62034 non-null object
nconst                        77081 non-null object
averagerating                 47237 non-null float64
numvotes                      47237 non-null float64
dtypes: float64(3), int64(1), object(12)
memory usage: 10.0+ MB

# Data Cleaning

In [26]:
# Dropping Null Values
df = df.dropna(subset=['Opening Weekend USA', 'Gross USA', 'Cumulative Worldwide Gross'], how='all')

In [27]:
# Cumulative Worldwide Gross replace NaN with 0
df['Cumulative Worldwide Gross'] = df['Cumulative Worldwide Gross'].fillna(0)

/Users/brendanferris/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
# Movies from India contain 'INR' substring and need to be converted to USD or dropped
INR = df.loc[df['Cumulative Worldwide Gross'].str.contains('INR') == True]
NPR = df.loc[df['Cumulative Worldwide Gross'].str.contains('NPR') == True]

In [29]:
df = df.drop(df.loc[df['Cumulative Worldwide Gross'].str.contains('INR') == True].index)

In [30]:
df = df.drop(df.loc[df['Cumulative Worldwide Gross'].str.contains('NPR') == True].index)

In [31]:
def clean_currency(x):
    if isinstance(x, str):
        x = x.replace('$', '').replace(',', '')
        return x
    return(x)

# df['Cumulative Worldwide Gross'] = df['Cumulative Worldwide Gross'].str.replace(',', '').str.replace('$', '')

In [32]:
df['Cumulative Worldwide Gross'] = df['Cumulative Worldwide Gross'].map(lambda x: clean_currency(x))

In [33]:
df['Cumulative Worldwide Gross'] = pd.to_numeric(df['Cumulative Worldwide Gross'])

In [34]:
df['Cumulative Worldwide Gross'][:5]

0     1670401444
2      284139100
8     1025467803
9        2704326
12       1424100
Name: Cumulative Worldwide Gross, dtype: int64

In [35]:
# Gross USA 
df['Gross USA'] = df['Gross USA'].fillna(0)

In [36]:
df['Gross USA'] = df['Gross USA'].map(lambda x: clean_currency(x))

In [37]:
df['Gross USA'] = pd.to_numeric(df['Gross USA'])

In [38]:
df['Gross USA'][:5]

0     652270625
2      73078100
8     334191110
9             0
12            0
Name: Gross USA, dtype: int64

In [39]:
# Opening Weekend USA
df['Opening Weekend USA'] = df['Opening Weekend USA'].fillna(0)

In [40]:
df['Opening Weekend USA'] = df['Opening Weekend USA'].map(lambda x: clean_currency(x))

In [41]:
df['Opening Weekend USA'] = pd.to_numeric(df['Opening Weekend USA'])

In [42]:
df['Opening Weekend USA'][:5]

0     208806270
2      30180188
8     116101023
9             0
12            0
Name: Opening Weekend USA, dtype: int64

In [43]:
df.shape

(13209, 16)

In [44]:
df.Budget

0        $150,000,000
2        $250,000,000
8        $200,000,000
9                 NaN
12                NaN
             ...
77065             NaN
77068      $5,000,000
77071             NaN
77075             NaN
77077             NaN
Name: Budget, Length: 13209, dtype: object

In [45]:
df['Budget'] = df['Budget'].map(lambda x: clean_currency(x))

In [46]:
df['Budget'] = df['Budget'].fillna('0')

In [47]:
def find_currencies(x):
    currencies = []
    for i in x:
        if i[:3].isalpha():
            currencies.append(i[:3])
    return np.unique(currencies)

In [48]:
budget_curr = df['Budget'].tolist()

In [49]:
list_of_curr = find_currencies(budget_curr).tolist()

In [50]:
list_of_curr

['AMD',
 'ARS',
 'AUD',
 'BGL',
 'BRL',
 'CAD',
 'CHF',
 'CLP',
 'CNY',
 'COP',
 'CZK',
 'DKK',
 'EEK',
 'EGP',
 'EUR',
 'GBP',
 'HKD',
 'HUF',
 'IDR',
 'INR',
 'IRR',
 'ISK',
 'ITL',
 'JPY',
 'KRW',
 'LTL',
 'LVL',
 'MXN',
 'MYR',
 'NGN',
 'NOK',
 'NZD',
 'PEN',
 'PHP',
 'PKR',
 'PLN',
 'RUR',
 'SEK',
 'SGD',
 'THB',
 'TRL',
 'TWD',
 'UAH',
 'VEB',
 'ZAR']

## Switched null values to '0' string in order to apply conversion function

In [51]:
df.Budget.fillna('0', inplace = True)

In [52]:
def conversion_rates(x):
    
    list_of_curr = {'ARS':0.01, 'AUD':0.54, 'BGL':0, 'BRL':0.13, 'CAD':0.55, 'CHF':0.8, 'CLP':0.0009, 'CNY':0.1,
                    'COP':0.000175, 'CZK':0.03, 'DKK':0.11, 'EEK':0, 'EGP':0.04, 'EUR':1.17, 'GBP':0.81, 'HKD':0.08,
                    'HUF':0.002, 'IDR':0.000042, 'INR':0.01, 'ISK':0.0053, 'ITL':0, 'JPY':0.007, 'KRW':0.000633, 'LTL':0.25,
                    'NOK':0.11, 'NZD':0.66, 'PEN':0.28, 'PHP':0.02, 'LVL':1.23, 'MXN':0.03, 'MYR':0.16, 'NGN':0.0026,
                    'PKR':0.006, 'PLN':0.25, 'RUR':0.01, 'SEK':0.11, 'SGD':0.73, 'THB':0.03, 'TRL':0.13, 'TWD':0.03, 
                    'UAH':0.04, 'VEB':0.1, 'ZAR':0.06}
    x = str(x)
    x = x.replace(',', '').replace('$','')
    x = x.lstrip()

    
    if x.isdigit() == True:
        return float(x)
    
    country_code = x[:3]
    if country_code in list_of_curr:
        return (float(x[3:len(list(x))]) * list_of_curr[f'{country_code}'])

## Apply conversion function

In [53]:
df['Budget'] = df['Budget'].apply(lambda x: conversion_rates(x))

In [54]:
df.shape

(13209, 16)

In [57]:
df.head(50)

,Country,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,title_id,region,primary_title,start_year,runtime_minutes,genres,directors,writers,nconst,averagerating,numvotes
0,USA,150000000.0,208806270,652270625,1670401444,tt0369610,BG,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",nm1119880,"nm0415425,nm0798646,nm1119880,nm2081046,nm0000341",nm0189777,7.0,539338.0
2,USA,250000000.0,30180188,73078100,284139100,tt0401729,UA,John Carter,2012,132.0,"Action,Adventure,Sci-Fi",nm0004056,"nm0004056,nm0028764,nm0149290,nm0123194",nm0606640,6.6,241792.0
8,USA,200000000.0,116101023,334191110,1025467803,tt1014759,IE,Alice in Wonderland,2010,108.0,"Adventure,Family,Fantasy",nm0000318,"nm0941314,nm0140902",nm0865297,6.5,358813.0
9,Hong Kong,0.0,0,0,2704326,tt10214198,NaN,Gou yan kan ren xin,2019,91.0,Drama,nm10633710,nm10633710,nm4454561,NaN,NaN
12,South Korea,0.0,0,0,1424100,tt10308634,NaN,My First Client,2019,114.0,Drama,nm1155471,NaN,nm6771561,NaN,NaN
16,France,52000000.0,8158860,24077427,52844496,tt1179034,EE,From Paris with Love,2010,92.0,"Action,Crime,Thriller",nm0603628,"nm0367867,nm0000108",nm1384267,6.5,107079.0
20,USA,125000000.0,38142825,113203870,276144750,tt1194173,RS,The Bourne Legacy,2012,135.0,"Action,Adventure,Thriller",nm0006904,"nm0006904,nm0319659,nm0524924",nm3328356,6.7,268678.0
22,USA,27000000.0,18907302,79249455,161849455,tt1219289,AR,Limitless,2011,105.0,"Mystery,Sci-Fi,Thriller",nm1139726,"nm0228908,nm2982186",nm0502794,7.4,492490.0
24,USA,5000000.0,6003200,15428747,30857747,tt1223236,IT,African Cats,2011,89.0,"Adventure,Documentary","nm0774582,nm0288144","nm0774582,nm0991399,nm1630422",nm1732813,7.6,5784.0
27,Spain,0.0,0,0,1034558,tt1233259,FR,Captain Thunder,2011,108.0,Adventure,nm0379872,"nm0602358,nm1938616",nm0017793,2.9,521.0
29,USA,35000000.0,8268908,19701164,34737199,tt1235522,PE,Broken City,2013,109.0,"Crime,Drama,Thriller",nm0400441,nm3017566,nm0586969,6.2,71704.0
37,Spain,0.0,0,0,1358896,tt1259520,CH,Bon appétit,2010,91.0,"Drama,Romance",nm1266768,"nm2161247,nm1266768,nm0748348",nm0544197,6.3,1015.0
39,Spain,0.0,0,0,844281,tt1263750,DE,Room in Rome,2010,107.0,"Drama,Romance",nm0575523,"nm1471503,nm0575523,nm0297545",nm0145915,6.2,20455.0
41,Russia,25000000.0,14408,14408,8553835,tt1272051,RU,Space Dogs,2010,85.0,"Adventure,Animation,Comedy","nm3575075,nm0882296","nm1396106,nm2158185,nm4901594,nm1650373,nm0955100",nm1650373,5.2,1102.0
50,USA,0.0,5649,18164,22497,tt1293751,RU,Casting By,2012,89.0,Documentary,nm0231999,NaN,nm1462552,7.6,1360.0
51,USA,20000000.0,16007426,62950384,89137047,tt1294226,NaN,The Last Song,2010,107.0,"Drama,Music,Romance",nm1455688,"nm0817023,nm3491486",nm0956374,6.0,74914.0
52,USA,60000.0,15465,40557,40557,tt1296373,US,The FP,2011,82.0,Comedy,"nm1875808,nm1060930","nm1875808,nm1060930",nm2040556,5.6,1541.0
54,India,19000000.0,0,0,3889511,tt1305797,IN,Enthiran,2010,155.0,"Action,Sci-Fi",nm0788171,"nm0837675,nm4157919,nm1618886,nm0788171",nm0006246,7.1,23102.0
55,USA,45000000.0,4548201,9489829,21947209,tt1308729,JP,Bullet to the Head,2012,92.0,"Action,Crime,Thriller",nm0001353,"nm0131947,nm1989798,nm5631325",nm0586968,5.7,44816.0
58,India,0.0,0,0,23917,tt1322257,GB,Jhootha Hi Sahi,2010,142.0,"Comedy,Drama,Romance",nm1063072,"nm3378518,nm0576570",nm0006246,6.2,1694.0
59,USA,130000.0,0,0,213015,tt1322384,US,SubHysteria,2010,85.0,"Drama,Thriller",nm1124442,"nm1124442,nm0070282,nm0317755,nm1123052,nm1463...",nm2571910,6.9,81.0
63,France,3357900.0,0,0,274839,tt1336601,DE,The Pack,2010,84.0,Horror,nm1035941,nm1035941,nm1132300,4.8,1987.0
65,Russia,4500000.0,0,0,1035474,tt1340801,RU,Close Enemy,2010,98.0,Crime,nm0040286,"nm0040286,nm1358962",nm2945256,5.5,148.0
67,Australia,105000000.0,50085185,144840419,353641895,tt1343092,DE,The Great Gatsby,2013,143.0,"Drama,Romance",nm0525303,"nm0525303,nm0668902,nm0280234",nm0552039,7.3,433165.0
68,UK,50000000.0,6278491,13414714,41037742,tt1343727,BG,Dredd,2012,95.0,"Action,Crime,Sci-Fi",nm0871428,"nm0905957,nm0264338,nm0307497",nm0716924,7.1,234616.0
72,UK,0.0,0,0,20354,tt1371160,GB,The Kid,2010,111.0,Drama,nm0602941,"nm3330126,nm0602941,nm1623493",nm0927871,6.9,1206.0
76,France,6435000.0,0,0,1751180,tt1391143,FR,Turk's Head,2010,87.0,"Crime,Drama,Thriller",nm0253018,nm0253018,nm0954704,6.0,401.0
77,UK,30000000.0,21856389,63686397,135710029,tt1401152,LT,Unknown,2011,113.0,"Action,Mystery,Thriller",nm1429471,"nm0124700,nm0180508,nm0885857",nm0739868,6.9,235167.0
78,Switzerland,234000.0,2981,7440,50421,tt1401669,CH,The Little Bedroom,2010,87.0,Drama,"nm1425885,nm1268012","nm1268012,nm1425885",nm0517975,6.9,184.0
79,Australia,135000000.0,21237068,64006466,159197038,tt1402488,PL,Happy Feet Two,2011,100.0,"Adventure,Animation,Comedy","nm0004306,nm0248495,nm1668276","nm0004306,nm0248495,nm0171253,nm0515282,nm0171...",nm0171722,5.9,38396.0
81,USA,0.0,17482,150886,151272,tt1413496,US,Revenge of the Electric Car,2011,90.0,Documentary,nm2071216,"nm1557894,nm2071216",nm1042563,7.2,1692.0
86,Germany,0.0,0,0,1323109,tt1430631,DE,Pigeons on the Roof,2011,96.0,Comedy,nm0415769,nm0415769,nm0865427,6.0,266.0
88,Italy,0.0,0,0,2104909,tt1548559,XWW,Unlikely Revolutionaries,2010,102.0,"Comedy,Crime",nm0670990,"nm1616192,nm0670990,nm1614496",nm0851749,6.1,382.0
91,Japan,0.0,0,0,16575961,tt1552984,NaN,Abacus and Sword,2010,129.0,Drama,nm0605741,"nm3707366,nm3157024",nm1185877,6.4,150.0
94,France,0.0,5664,163962,410903,tt1556190,BR,Nostalgia for the Light,2010,90.0,Documentary,nm0350099,nm0350099,nm0229170,7.6,4242.0
96,UK,3240000.0,0,0,2019939,tt1560970,ES,Neds,2010,124.0,Drama,nm0611932,nm0611932,nm0651969,7.0,7636.0
99,USA,0.0,149337,202348,552698,tt1562899,RS,Jinn,2014,97.0,"Fantasy,Horror,Thriller",nm1856661,nm1856661,nm1539536,4.2,4271.0
105,Denmark,0.0,0,0,605613,tt1570091,SE,Hold Me Tight,2010,80.0,Drama,nm1390830,nm2488511,nm1471973,6.4,479.0
107,Japan,7000000.0,0,0,34597898,tt1571235,XWW,The Lady Shogun and Her Men,2010,116.0,"Drama,Sci-Fi",nm1514821,"nm2959425,nm0847176",nm0840708,6.4,296.0
108,Ireland,0.0,0,0,17729,tt1571409,RS,Parked,2010,94.0,Drama,nm0126152,nm3209599,nm0175829,6.8,2131.0
109,USA,20000000.0,21744470,34341945,47340586,tt1572315,AR,Texas Chainsaw 3D,2013,92.0,"Horror,Thriller",nm0525141,"nm0546057,nm0838032,nm1187454,nm0839812,nm0377...",nm0377066,4.8,41784.0
110,Japan,0.0,0,0,7701498,tt1572781,NaN,The Disappearance of Haruhi Suzumiya,2010,163.0,"Animation,Comedy,Drama","nm2128776,nm1856817","nm2522077,nm1160330",nm3707431,8.1,5406.0
113,Italy,0.0,0,0,1368586,tt1582207,GB,The Jewel,2011,110.0,Drama,nm0596403,"nm0596403,nm2002638,nm0738600",nm0853598,6.8,1001.0
119,Japan,0.0,0,0,406602,tt1587156,NaN,Gekijouban Fate/stay night: Unlimited Blade Works,2010,107.0,"Action,Animation,Drama","nm1239959,nm1100497","nm2195555,nm0715532,nm0766272",nm2910918,7.0,1308.0
130,France,0.0,0,0,1391946,tt1600428,FR,No et moi,2010,105.0,Drama,nm0951456,"nm3627727,nm0951456,nm0755389",nm1909527,6.6,449.0
132,India,0.0,0,0,64398,tt1602476,RU,Badmaa$h Company,2010,142.0,"Comedy,Crime,Drama",nm0786033,nm0786033,nm1191112,6.0,5640.0
134,Denmark,4800000.0,313958,779188,10639616,tt1602613,BR,Only God Forgives,2013,90.0,"Crime,Drama",nm0716347,nm0716347,nm0809040,5.7,100318.0
136,USA,8000000.0,4712638,10130219,10702246,tt1604171,BG,Prom,2011,104.0,"Comedy,Drama,Family",nm0638271,nm2251854,nm0787427,5.4,14279.0
139,South Korea,18990000.0,17817,70177,16653488,tt1606384,TR,My Way,2011,137.0,"Action,Drama,War",nm0437625,"nm0437625,nm4782710,nm5292340",nm1371243,7.8,9312.0
141,Netherlands,0.0,0,0,4956709,tt1606789,NaN,Loft,2010,108.0,"Crime,Drama,Thriller",nm0079578,"nm0210916,nm1872639",nm0887508,6.8,5218.0

In [67]:
df.isna().sum()

Country                          7
Budget                           4
Opening Weekend USA              0
Gross USA                        0
Cumulative Worldwide Gross       0
title_id                         0
region                        2326
primary_title                    0
start_year                       0
runtime_minutes                765
genres                          55
directors                       36
writers                        956
nconst                           0
averagerating                  343
numvotes                       343
dtype: int64