In [1]:
import pandas as pd
import numpy as np

In [2]:
imdb1 = pd.read_csv("zippedData/imdb.name.basics.csv.gz")
imdb2 = pd.read_csv("zippedData/imdb.title.akas.csv.gz")
imdb3 = pd.read_csv("zippedData/imdb.title.basics.csv.gz")
imdb4 = pd.read_csv("zippedData/imdb.title.crew.csv.gz")
imdb5 = pd.read_csv("zippedData/imdb.title.principals.csv.gz")
imdb6 = pd.read_csv("zippedData/imdb.title.ratings.csv.gz")

# IMDB Web Scraped Data

In [3]:
# cleaning primary keys in imdb dfs
imdb2['title_id'] = imdb2['title_id'].str.strip()
imdb3['tconst'] = imdb3['tconst'].str.strip()
imdb4['tconst'] = imdb4['tconst'].str.strip()
imdb5['tconst'] = imdb5['tconst'].str.strip()
imdb6['tconst'] = imdb6['tconst'].str.strip()

In [4]:
# dropping duplicates
imdb2.drop_duplicates(subset=['title_id'], inplace=True)

In [5]:
imdb3.drop_duplicates(subset=['tconst'], inplace=True)
imdb4.drop_duplicates(subset=['tconst'], inplace=True)
imdb5.drop_duplicates(subset=['tconst'], inplace=True)
imdb6.drop_duplicates(subset=['tconst'], inplace=True)

In [6]:
# importing web scrapes
web_scrape1 = pd.read_csv('imdb_monetary_data_16590.csv')
web_scrape1.set_index(['title_id'], inplace=True)

In [7]:
web_scrape2 = pd.read_csv('imdb_monetary_data_16591_to_25214_.csv')
web_scrape2.set_index(['title_id'], inplace=True)

In [8]:
web_scrape3 = pd.read_csv('imdb_monetary_data_29214_.csv')
web_scrape3.set_index(['title_id'], inplace=True)

In [9]:
web_scrape4 = pd.read_csv('imdb_monetary_data_33736_.csv')
web_scrape4.set_index(['title_id'], inplace=True)

In [10]:
# concatenating webscraped data
web_scrape = pd.concat([web_scrape1, web_scrape2, web_scrape3, web_scrape4])
print(web_scrape.columns, end='\n\n')
print(web_scrape.shape, end='\n\n')
print(web_scrape.isna().sum())

Index(['Unnamed: 0', 'Country', 'Budget', 'Opening Weekend USA', 'Gross USA',
       'Cumulative Worldwide Gross', 'Runtime'],
      dtype='object')

(33802, 7)

Unnamed: 0                        0
Country                          41
Budget                        23456
Opening Weekend USA           31451
Gross USA                     31335
Cumulative Worldwide Gross    27203
Runtime                        8474
dtype: int64

In [11]:
# dropping unnamed column
web_scrape.drop(['Unnamed: 0'], axis=1, inplace=True)
web_scrape

,Country,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,Runtime
title_id,,,,,,
tt0369610,USA,"$150,000,000","$208,806,270,","$652,270,625","$1,670,401,444",124 min
tt0381957,UK,NaN,NaN,NaN,NaN,NaN
tt0401729,USA,"$250,000,000","$30,180,188,","$73,078,100","$284,139,100",132 min
tt10010134,France,NaN,NaN,NaN,NaN,52 min
tt10027708,Australia,NaN,NaN,NaN,NaN,94 min
...,...,...,...,...,...,...
tt3364042,Canada,NaN,NaN,NaN,NaN,NaN
tt3364162,Peru,NaN,NaN,NaN,"$264,294",80 min
tt3368510,Switzerland,NaN,NaN,NaN,NaN,113 min
tt3369350,USA,NaN,NaN,NaN,NaN,101 min
tt3375416,USA,NaN,NaN,NaN,NaN,92 min

In [12]:
# cleaning title_id (index)
web_scrape.index = web_scrape.index.str.strip()

In [13]:
# merging imdb2
df = web_scrape.merge(imdb2, left_on=web_scrape.index, right_on=['title_id'])

In [14]:
df = df.merge(imdb3, left_on=['title_id'], right_on=['tconst'])

In [15]:
df = df.merge(imdb4, left_on=['title_id'], right_on=['tconst'])

In [16]:
df = df.merge(imdb5, left_on=['title_id'], right_on=['tconst'])

In [17]:
df = df.merge(imdb6, how='left', left_on=['title_id'], right_on=['tconst'])

In [18]:
df

,Country,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,Runtime,title_id,ordering_x,title,region,...,writers,tconst_x,ordering_y,nconst,category,job,characters,tconst_y,averagerating,numvotes
0,USA,"$150,000,000","$208,806,270,","$652,270,625","$1,670,401,444",124 min,tt0369610,10,Джурасик свят,BG,...,"nm0415425,nm0798646,nm1119880,nm2081046,nm0000341",tt0369610,10,nm0189777,producer,producer,NaN,tt0369610,7.0,539338.0
1,UK,NaN,NaN,NaN,NaN,NaN,tt0381957,1,Cloud Cuckoo Land,GB,...,"nm1458371,nm1461088",tt0381957,10,nm1108038,composer,NaN,NaN,tt0381957,7.6,23.0
2,USA,"$250,000,000","$30,180,188,","$73,078,100","$284,139,100",132 min,tt0401729,10,Джон Картер: Мiж двох свiтiв,UA,...,"nm0004056,nm0028764,nm0149290,nm0123194",tt0401729,10,nm0606640,producer,producer,NaN,tt0401729,6.6,241792.0
3,France,NaN,NaN,NaN,NaN,52 min,tt10010134,1,Versailles Rediscovered - The Sun King's Vanis...,NaN,...,"nm2205937,nm1355962,nm10542772,nm0873469",tt10010134,10,nm0674930,editor,NaN,NaN,tt10010134,7.0,5.0
4,Australia,NaN,NaN,NaN,NaN,94 min,tt10027708,1,Miguelito - Canto a Borinquen,NaN,...,nm3495624,tt10027708,10,nm7089722,editor,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33714,Canada,NaN,NaN,NaN,NaN,NaN,tt3364042,1,Battling Darkness,CA,...,nm6114866,tt3364042,1,nm7595790,self,NaN,"[""Himself""]",tt3364042,8.4,8.0
33715,Peru,NaN,NaN,NaN,"$264,294",80 min,tt3364162,1,Lars y el misterio del portal,PE,...,NaN,tt3364162,1,nm0960495,actor,NaN,"[""Lars""]",tt3364162,4.8,5.0
33716,Switzerland,NaN,NaN,NaN,NaN,113 min,tt3368510,1,Dance Off,CH,...,"nm4003744,nm10506318",tt3368510,10,nm10506304,cinematographer,NaN,NaN,tt3368510,4.2,21.0
33717,USA,NaN,NaN,NaN,NaN,101 min,tt3369350,1,Bad Hurt,US,...,"nm0447174,nm1169463",tt3369350,10,nm0863374,producer,producer,NaN,tt3369350,6.0,342.0
33718,USA,NaN,NaN,NaN,NaN,92 min,tt3375416,1,All Things,US,...,"nm6124582,nm2145697",tt3375416,1,nm1588136,actor,NaN,"[""Wale""]",NaN,NaN,NaN

In [19]:
# dropping unnecessary columns
df.drop(['ordering_x', 'language', 'attributes', 'original_title', 'Runtime', 'is_original_title', 'tconst_x', 'tconst_y', 'types', 'category', 'job', 'characters', 'ordering_y', 'title'], axis=1, inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33719 entries, 0 to 33718
Data columns (total 16 columns):
Country                       33681 non-null object
Budget                        10333 non-null object
Opening Weekend USA           2351 non-null object
Gross USA                     2467 non-null object
Cumulative Worldwide Gross    6597 non-null object
title_id                      33719 non-null object
region                        29845 non-null object
primary_title                 33719 non-null object
start_year                    33719 non-null int64
runtime_minutes               29405 non-null float64
genres                        33145 non-null object
directors                     33265 non-null object
writers                       27180 non-null object
nconst                        33719 non-null object
averagerating                 22573 non-null float64
numvotes                      22573 non-null float64
dtypes: float64(3), int64(1), object(12)
memory usage: 4.4+ MB

# Data Cleaning

In [21]:
# Dropping Null Values
df = df.dropna(subset=['Opening Weekend USA', 'Gross USA', 'Cumulative Worldwide Gross'], how='all')

In [22]:
# Cumulative Worldwide Gross replace NaN with 0
df['Cumulative Worldwide Gross'] = df['Cumulative Worldwide Gross'].fillna(0)

/Users/davidbruce/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
# Movies from India contain 'INR' substring and need to be converted to USD or dropped
INR = df.loc[df['Cumulative Worldwide Gross'].str.contains('INR') == True]

In [24]:
df = df.drop(df.loc[df['Cumulative Worldwide Gross'].str.contains('INR') == True].index)

In [25]:
def clean_currency(x):
    if isinstance(x, str):
        x = x.replace('$', '').replace(',', '')
        return x
    return(x)

# df['Cumulative Worldwide Gross'] = df['Cumulative Worldwide Gross'].str.replace(',', '').str.replace('$', '')

In [26]:
df['Cumulative Worldwide Gross'] = df['Cumulative Worldwide Gross'].map(lambda x: clean_currency(x))

In [27]:
df['Cumulative Worldwide Gross'] = pd.to_numeric(df['Cumulative Worldwide Gross'])

In [42]:
df['Cumulative Worldwide Gross'][:5]

0     1670401444
2      284139100
8     1025467803
9        2704326
12       1424100
Name: Cumulative Worldwide Gross, dtype: int64

In [29]:
# Gross USA 
df['Gross USA'] = df['Gross USA'].fillna(0)

In [30]:
df['Gross USA'] = df['Gross USA'].map(lambda x: clean_currency(x))

In [31]:
df['Gross USA'] = pd.to_numeric(df['Gross USA'])

In [43]:
df['Gross USA'][:5]

0     652270625
2      73078100
8     334191110
9             0
12            0
Name: Gross USA, dtype: int64

In [33]:
# Opening Weekend USA
df['Opening Weekend USA'] = df['Opening Weekend USA'].fillna(0)

In [34]:
df['Opening Weekend USA'] = df['Opening Weekend USA'].map(lambda x: clean_currency(x))

In [35]:
df['Opening Weekend USA'] = pd.to_numeric(df['Opening Weekend USA'])

In [44]:
df['Opening Weekend USA'][:5]

0     208806270
2      30180188
8     116101023
9             0
12            0
Name: Opening Weekend USA, dtype: int64

In [37]:
df.isna().sum()

Country                          2
Budget                        4141
Opening Weekend USA              0
Gross USA                        0
Cumulative Worldwide Gross       0
title_id                         0
region                        1090
primary_title                    0
start_year                       0
runtime_minutes                345
genres                          32
directors                       16
writers                        437
nconst                           0
averagerating                  139
numvotes                       139
dtype: int64

In [39]:
df.Budget

0        $150,000,000
2        $250,000,000
8        $200,000,000
9                 NaN
12                NaN
             ...
33698             NaN
33704    EUR3,000,000
33712         $75,000
33713     $40,000,000
33715             NaN
Name: Budget, Length: 6616, dtype: object

In [40]:
df['Budget'] = df['Budget'].map(lambda x: clean_currency(x))

In [41]:
df.Budget

0         150000000
2         250000000
8         200000000
9               NaN
12              NaN
            ...
33698           NaN
33704    EUR3000000
33712         75000
33713      40000000
33715           NaN
Name: Budget, Length: 6616, dtype: object

In [50]:
def find_currencies(x):
    currencies = []
    if x[:3].str.isalpha():
        currencies.append(x[:3])
    return currencies

In [51]:
find_currencies(df['Budget'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
def conversion_rates(x):
    pass