In [223]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import time

In [246]:
directors = pd.read_csv("list_of_directors.csv")

In [247]:
#imdb4.drop_duplicates(subset=['directors'], inplace=True)
directors.drop(['Unnamed: 0'], axis=1, inplace=True)
directors

                0
0       nm1119880
1       nm0004056
2       nm0000318
3      nm10633710
4       nm1155471
...           ...
13168   nm4135794
13169   nm1417392
13170   nm2951802
13171   nm1597722
13172   nm1796990

[13173 rows x 1 columns]

In [279]:
director_names = directors['0'].tolist()
director_names = director_names[7789:]

In [275]:
def scraper(name_id):
    
    time.sleep(.05)
    
    
    info = {
        'name_id': name_id,
        'name': np.nan,
    }
    
   
    try:
        page = requests.get(f"https://www.imdb.com/name/{name_id}/")
        soup = BeautifulSoup(page.content, 'html.parser')
    except:
        pass
        
    name = soup.find_all('span', class_='itemprop')[0].text.strip() 
    
    info.update({"name": name})

    return info

In [276]:
scraped_names = []

for name in director_names:
    scraped_names.append(scraper(name))

UnboundLocalError: local variable 'soup' referenced before assignment

In [173]:
# df = pd.DataFrame(midnight_list)
#df.to_csv('imdb_name_list_2268_.csv')

In [277]:
len(scraped_names)

4783

In [278]:
df = pd.DataFrame(scraped_names)
df.to_csv('/Users/brendanferris/Desktop/project1_repo/scraped_names/imdb_name_list_7799_.csv')