In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import time

In [2]:
directors = pd.read_csv("scraped_data/list_of_directors.csv")

In [3]:
directors.drop(['Unnamed: 0'], axis=1, inplace=True)
directors

                0
0       nm1119880
1       nm0004056
2       nm0000318
3      nm10633710
4       nm1155471
...           ...
13168   nm4135794
13169   nm1417392
13170   nm2951802
13171   nm1597722
13172   nm1796990

[13173 rows x 1 columns]

In [20]:
director_names = directors['0'].tolist()
director_names = director_names[13000:]

In [37]:
def scraper(name_id, ):
    '''
    When given a name_id/nconst, this function will output the name id and
    the directors full name as listed on IMDB. Import time module and bs4
    to use this function.
    
    Parameters
    ----------
    name_id/nconst: single name identifier for imdb name page:
        -----https://www.imdb.com/name/nm1885736-----
        
    
    Returns
    -------
    
    Dictionary containing the 'name_id':'name'.
    
    
        
    Examples
    --------
    
    >>> scraper(nm1885736)
    
    {'name_id': 'nm1885736', 'name': 'Bernardo Francese'}
    
    
    '''
    
    time.sleep(.05)
    
    
    info = {
        'name_id': name_id,
        'name': np.nan,
    }
    
   
    try:
        page = requests.get(f"https://www.imdb.com/name/{name_id}/")
        soup = BeautifulSoup(page.content, 'html.parser')
    except:
        pass
        
    name = soup.find_all('span', class_='itemprop')[0].text.strip() 
    
    info.update({"name": name})
    
    

    return info

In [35]:
'''
avoid using list comprehesion for results list. If kernel or loop fails,
all progress will be lost in results list. For loop maintains data even
if it fails.
'''

scraped_names = []

for name in director_names:
    scraped_names.append(scraper(name))

UnboundLocalError: local variable 'soup' referenced before assignment

In [36]:
scraped_names

[{'name_id': 'nm1885736', 'name': 'Bernardo Francese'},
 {'name_id': 'nm1096212', 'name': 'François Desagnat'},
 {'name_id': 'nm1150656', 'name': "Remo D'Souza"},
 {'name_id': 'nm1374337', 'name': 'Jamel Aattache'},
 {'name_id': 'nm0007193', 'name': 'Richie Keen'},
 {'name_id': 'nm0803066', 'name': 'Abderrahmane Sissako'},
 {'name_id': 'nm1318596', 'name': 'Jemaine Clement'}]

In [10]:
df = pd.DataFrame(scraped_names)
df.to_csv('') #Enter path for result csv.