In [202]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import time

In [185]:
imdb2 = pd.read_csv("zippedData/imdb.title.akas.csv.gz")

In [186]:
imdb2.drop_duplicates(subset=['title_id'], inplace=True)
title_id_list =imdb2['title_id'].to_list()
len(title_id_list)

122302

In [239]:
search_area = title_id_list
search = search_area[65930:]

In [235]:



def scraper(title_id):
    
    
    
    info = {
        'title_id': title_id,
        'Country': np.nan,
        'Budget': np.nan,
        'Opening Weekend USA': np.nan,
        'Gross USA' : np.nan,
        'Cumulative Worldwide Gross': np.nan,
        'Runtime': np.nan
    }
    
   
    try:
        page = requests.get(f"https://www.imdb.com/title/{title_id}/")
        soup = BeautifulSoup(page.content, 'html.parser')
    except:
        pass
        
    categories = soup.find_all('h4', class_="inline")

    cat_list = []
    for cat in categories:
        cat_list.append(cat.text)

    
    for i in categories:
        if i.text == 'Country:':
            info['Country'] = i.next_element.next_element.next_element.text.strip()
            
        if i.text == 'Budget:':
            info['Budget'] = i.next_element.next_element.strip()
        if i.text == 'Opening Weekend USA:':
            info['Opening Weekend USA'] = i.next_element.next_element.strip()
        if i.text == 'Gross USA:':
            info['Gross USA'] = i.next_element.next_element.strip()
        if i.text == 'Cumulative Worldwide Gross:':
            info['Cumulative Worldwide Gross'] = i.next_element.next_element.strip()
        if i.text == 'Runtime:':
            info['Runtime'] = i.next_element.next_element.next_element.text.strip()
        
        
        
        
    return info

In [236]:
scraper('tt1220221')

{'title_id': 'tt1220221',
 'Country': 'USA',
 'Budget': '$2,000,000',
 'Opening Weekend USA': nan,
 'Gross USA': nan,
 'Cumulative Worldwide Gross': nan,
 'Runtime': '123 min'}

In [ ]:
final_list = []
for i in search:
    final_list.append(scraper(i))

In [238]:
len(final_list)

16073

In [240]:
df = pd.DataFrame(final_list)
df.to_csv('imdb_monetary_data_65930_.csv')