In [202]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import time

In [185]:


imdb2 = pd.read_csv("zippedData/imdb.title.akas.csv.gz")

In [186]:
imdb2.drop_duplicates(subset=['title_id'], inplace=True)
title_id_list =imdb2['title_id'].to_list()
len(title_id_list)

122302

In [211]:
search_area = title_id_list
search = search_area[25214:]

In [212]:



def scraper(title_id):
    
    time.sleep(np.random.randint(9.10) * .015)
    
    info = {
        'title_id': title_id,
        'Country': np.nan,
        'Budget': np.nan,
        'Opening Weekend USA': np.nan,
        'Gross USA' : np.nan,
        'Cumulative Worldwide Gross': np.nan,
        'Runtime': np.nan
    }
    
   
    try:
        page = requests.get(f"https://www.imdb.com/title/{title_id}/")
        soup = BeautifulSoup(page.content, 'html.parser')
    except:
        pass
        
    categories = soup.find_all('h4', class_="inline")

    cat_list = []
    for cat in categories:
        cat_list.append(cat.text)

    
    for i in categories:
        if i.text == 'Country:':
            info['Country'] = i.next_element.next_element.next_element.text.strip()
            
        if i.text == 'Budget:':
            info['Budget'] = i.next_element.next_element.strip()
        if i.text == 'Opening Weekend USA:':
            info['Opening Weekend USA'] = i.next_element.next_element.strip()
        if i.text == 'Gross USA:':
            info['Gross USA'] = i.next_element.next_element.strip()
        if i.text == 'Cumulative Worldwide Gross:':
            info['Cumulative Worldwide Gross'] = i.next_element.next_element.strip()
        if i.text == 'Runtime:':
            info['Runtime'] = i.next_element.next_element.next_element.text.strip()
        
        
        
        
    return info

In [204]:
scraper('tt1220221')

{'title_id': 'tt1220221',
 'Country': 'USA',
 'Budget': '$2,000,000',
 'Opening Weekend USA': nan,
 'Gross USA': nan,
 'Cumulative Worldwide Gross': nan,
 'Runtime': '123 min'}

In [ ]:
final_list = []
for i in search:
    final_list.append(scraper(i))

In [206]:
len(final_list)
df = pd.DataFrame(final_list)
df.to_csv('imdb_monetary_data_25214_plus.csv')

[{'title_id': 'tt1846803',
  'Country': 'South Korea',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$12,460,480',
  'Runtime': '99 min'},
 {'title_id': 'tt1847648',
  'Country': 'Iran',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1849728',
  'Country': 'Dominican Republic',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '66 min'},
 {'title_id': 'tt1849858',
  'Country': 'Iran',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt1851909',
  'Country': 'Japan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$30,236,973',
  'Runtime': '108 min'},
 {'title_id': 'tt1853643',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': '$1,641,',
  'Gross USA': '$2,432',
  'Cumulative Worldwide Gross': '$2,432',
  'Runtime': '85 min'},
 {'title_id': 'tt1854535',
  'Country': 'Georgia',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt1854569',
  'Country': 'Hong Kong',
  'Budget': '$5,000,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$467,327',
  'Runtime': '90 min'},
 {'title_id': 'tt1855256',
  'Country': 'USA',
  'Budget': '$1,200',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1857766',
  'Country': 'France',
  'Budget': 'EUR2,000,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1857808',
  'Country': 'South Africa',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '52 min'},
 {'title_id': 'tt1858522',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt1858780',
  'Country': 'Philippines',
  'Budget': 'PHP500,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1860279',
  'Country': 'USA',
  'Budget': '$1,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '78 min'},
 {'title_id': 'tt1860292',
  'Country': 'USA',
  'Budget': '$22,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1860303',
  'Country': 'USA',
  'Budget': '$25,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '94 min'},
 {'title_id': 'tt1861343',
  'Country': 'USA',
  'Budget': '$60,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1861438',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt1863245',
  'Country': 'UK',
  'Budget': 'GBP3,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1863298',
  'Country': 'Germany',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$709,626',
  'Runtime': '75 min'},
 {'title_id': 'tt1863323',
  'Country': 'USA',
  'Budget': '$1,000,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1863406',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': '$2,983,',
  'Gross USA': '$9,269',
  'Cumulative Worldwide Gross': '$9,269',
  'Runtime': '83 min'},
 {'title_id': 'tt1864299',
  'Country': 'China',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '103 min'},
 {'title_id': 'tt1864411',
  'Country': 'China',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$525,055',
  'Runtime': '96 min'},
 {'title_id': 'tt1864483',
  'Country': 'USA',
  'Budget': '$1,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1864563',
  'Country': 'Japan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2032445',
  'Country': 'UK',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2033192',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '86 min'},
 {'title_id': 'tt2034139',
  'Country': 'France',
  'Budget': '$5,000,000',
  'Opening Weekend USA': '$7,728,354,',
  'Gross USA': '$15,179,302',
  'Cumulative Worldwide Gross': '$25,051,865',
  'Runtime': '88 min'},
 {'title_id': 'tt2035594',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '85 min'},
 {'title_id': 'tt2040334',
  'Country': 'USA',
  'Budget': '$12,500',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '102 min'},
 {'title_id': 'tt2040418',
  'Country': 'Jamaica',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '49 min'},
 {'title_id': 'tt2040454',
  'Country': 'USA',
  'Budget': '$100,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2040571',
  'Country': 'Netherlands',
  'Budget': 'EUR200,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '144 min'},
 {'title_id': 'tt2041529',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '80 min'},
 {'title_id': 'tt2042492',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '20 min'},
 {'title_id': 'tt2042657',
  'Country': 'Singapore',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '91 min'},
 {'title_id': 'tt2042667',
  'Country': 'UK',
  'Budget': 'GBP2,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2043773',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '67 min'},
 {'title_id': 'tt2043781',
  'Country': 'Morocco',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '97 min'},
 {'title_id': 'tt2048865',
  'Country': 'USA',
  'Budget': '$3,000,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '82 min'},
 {'title_id': 'tt2049386',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '99 min'},
 {'title_id': 'tt2049448',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '95 min'},
 {'title_id': 'tt2049540',
  'Country': 'France',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2049586',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': '$86,741,',
  'Gross USA': '$365,422',
  'Cumulative Worldwide Gross': '$365,422',
  'Runtime': '116 min'},
 {'title_id': 'tt2050526',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '51 min'},
 {'title_id': 'tt2053405',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '79 min'},
 {'title_id': 'tt2053425',
  'Country': 'France',
  'Budget': 'EUR15,400,000',
  'Opening Weekend USA': '$27,154,',
  'Gross USA': '$2,062,027',
  'Cumulative Worldwide Gross': '$25,807,712',
  'Runtime': '120 min'},
 {'title_id': 'tt2055666',
  'Country': 'Poland',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$300,463',
  'Runtime': '87 min'},
 {'title_id': 'tt2055781',
  'Country': 'UK',
  'Budget': 'GBP500',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2056535',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '91 min'},
 {'title_id': 'tt2057421',
  'Country': 'Greece',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '77 min'},
 {'title_id': 'tt2058673',
  'Country': 'China',
  'Budget': '$105,000,000',
  'Opening Weekend USA': '$9,800,252,',
  'Gross USA': '$28,782,481',
  'Cumulative Worldwide Gross': '$133,718,711',
  'Runtime': '114 min'},
 {'title_id': 'tt2059181',
  'Country': 'Spain',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$362',
  'Runtime': nan},
 {'title_id': 'tt2059205',
  'Country': 'Germany',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2061626',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '58 min'},
 {'title_id': 'tt2061814',
  'Country': 'Germany',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '80 min'},
 {'title_id': 'tt2062687',
  'Country': 'Malaysia',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2062945',
  'Country': 'Canada',
  'Budget': 'CAD1,200,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '89 min'},
 {'title_id': 'tt2063633',
  'Country': 'India',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '140 min'},
 {'title_id': 'tt2063721',
  'Country': 'Japan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2063781',
  'Country': 'USA',
  'Budget': '$500,000',
  'Opening Weekend USA': '$26,943,',
  'Gross USA': '$376,597',
  'Cumulative Worldwide Gross': '$499,725',
  'Runtime': '81 min'},
 {'title_id': 'tt2064741',
  'Country': 'Iceland',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '46 min'},
 {'title_id': 'tt2065867',
  'Country': 'Italy',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2066995',
  'Country': 'USA',
  'Budget': '$40,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2069020',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '81 min'},
 {'title_id': 'tt2069839',
  'Country': 'USA',
  'Budget': '$75,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '87 min'},
 {'title_id': 'tt2069908',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '74 min'},
 {'title_id': 'tt2070643',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '105 min'},
 {'title_id': 'tt2070701',
  'Country': 'Hungary',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '99 min'},
 {'title_id': 'tt2070762',
  'Country': 'Australia',
  'Budget': 'AUD20,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2070831',
  'Country': 'India',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt2070882',
  'Country': 'Chile',
  'Budget': '$250,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '82 min'},
 {'title_id': 'tt2071416',
  'Country': 'Italy',
  'Budget': 'EUR600',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2071445',
  'Country': 'Spain',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '78 min'},
 {'title_id': 'tt2071464',
  'Country': 'Canada',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '87 min'},
 {'title_id': 'tt2073135',
  'Country': 'Argentina',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2073582',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '101 min'},
 {'title_id': 'tt2073672',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '75 min'},
 {'title_id': 'tt2074461',
  'Country': 'UK',
  'Budget': 'GBP95,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '73 min'},
 {'title_id': 'tt2075108',
  'Country': 'India',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '120 min'},
 {'title_id': 'tt2075157',
  'Country': 'Spain',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '72 min'},
 {'title_id': 'tt2075162',
  'Country': 'UK',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '52 min'},
 {'title_id': 'tt2075201',
  'Country': 'China',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2075303',
  'Country': 'Japan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '88 min'},
 {'title_id': 'tt2075377',
  'Country': 'Uzbekistan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2076227',
  'Country': 'Iceland',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '76 min'},
 {'title_id': 'tt2076246',
  'Country': 'Greece',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '63 min'},
 {'title_id': 'tt2076395',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '73 min'},
 {'title_id': 'tt2076897',
  'Country': 'UK',
  'Budget': nan,
  'Opening Weekend USA': '$10,305,',
  'Gross USA': '$44,906',
  'Cumulative Worldwide Gross': '$132,056',
  'Runtime': '111 min'},
 {'title_id': 'tt2078593',
  'Country': 'Germany',
  'Budget': 'EUR50,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2079591',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '87 min'},
 {'title_id': 'tt2080308',
  'Country': 'USA',
  'Budget': '$5,200',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '70 min'},
 {'title_id': 'tt2080379',
  'Country': 'Estonia',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '48 min'},
 {'title_id': 'tt2081274',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '94 min'},
 {'title_id': 'tt2082475',
  'Country': 'Germany',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$1,286',
  'Runtime': '90 min'},
 {'title_id': 'tt2082494',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '113 min'},
 {'title_id': 'tt2083250',
  'Country': 'Italy',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2083385',
  'Country': 'USA',
  'Budget': '$15,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '96 min'},
 {'title_id': 'tt2084005',
  'Country': 'Switzerland',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '91 min'},
 {'title_id': 'tt2084043',
  'Country': 'USA',
  'Budget': '$150,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '89 min'},
 {'title_id': 'tt2084816',
  'Country': 'Canada',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '92 min'},
 {'title_id': 'tt2084941',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt2085832',
  'Country': 'Indonesia',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '75 min'},
 {'title_id': 'tt2085919',
  'Country': 'Japan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '80 min'},
 {'title_id': 'tt2086894',
  'Country': 'South Korea',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '91 min'},
 {'title_id': 'tt2086948',
  'Country': 'Poland',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '85 min'},
 {'title_id': 'tt2087886',
  'Country': 'Thailand',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '53 min'},
 {'title_id': 'tt2087910',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '100 min'},
 {'title_id': 'tt2088919',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '95 min'},
 {'title_id': 'tt2090497',
  'Country': 'Spain',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$521,145',

In [193]:
df = pd.DataFrame(final_list)

In [208]:
final_list

[{'title_id': 'tt1846803',
  'Country': 'South Korea',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$12,460,480',
  'Runtime': '99 min'},
 {'title_id': 'tt1847648',
  'Country': 'Iran',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1849728',
  'Country': 'Dominican Republic',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '66 min'},
 {'title_id': 'tt1849858',
  'Country': 'Iran',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt1851909',
  'Country': 'Japan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$30,236,973',
  'Runtime': '108 min'},
 {'title_id': 'tt1853643',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': '$1,641,',
  'Gross USA': '$2,432',
  'Cumulative Worldwide Gross': '$2,432',
  'Runtime': '85 min'},
 {'title_id': 'tt1854535',
  'Country': 'Georgia',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt1854569',
  'Country': 'Hong Kong',
  'Budget': '$5,000,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$467,327',
  'Runtime': '90 min'},
 {'title_id': 'tt1855256',
  'Country': 'USA',
  'Budget': '$1,200',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1857766',
  'Country': 'France',
  'Budget': 'EUR2,000,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1857808',
  'Country': 'South Africa',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '52 min'},
 {'title_id': 'tt1858522',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt1858780',
  'Country': 'Philippines',
  'Budget': 'PHP500,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1860279',
  'Country': 'USA',
  'Budget': '$1,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '78 min'},
 {'title_id': 'tt1860292',
  'Country': 'USA',
  'Budget': '$22,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1860303',
  'Country': 'USA',
  'Budget': '$25,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '94 min'},
 {'title_id': 'tt1861343',
  'Country': 'USA',
  'Budget': '$60,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1861438',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt1863245',
  'Country': 'UK',
  'Budget': 'GBP3,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1863298',
  'Country': 'Germany',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$709,626',
  'Runtime': '75 min'},
 {'title_id': 'tt1863323',
  'Country': 'USA',
  'Budget': '$1,000,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1863406',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': '$2,983,',
  'Gross USA': '$9,269',
  'Cumulative Worldwide Gross': '$9,269',
  'Runtime': '83 min'},
 {'title_id': 'tt1864299',
  'Country': 'China',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '103 min'},
 {'title_id': 'tt1864411',
  'Country': 'China',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$525,055',
  'Runtime': '96 min'},
 {'title_id': 'tt1864483',
  'Country': 'USA',
  'Budget': '$1,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt1864563',
  'Country': 'Japan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2032445',
  'Country': 'UK',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2033192',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '86 min'},
 {'title_id': 'tt2034139',
  'Country': 'France',
  'Budget': '$5,000,000',
  'Opening Weekend USA': '$7,728,354,',
  'Gross USA': '$15,179,302',
  'Cumulative Worldwide Gross': '$25,051,865',
  'Runtime': '88 min'},
 {'title_id': 'tt2035594',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '85 min'},
 {'title_id': 'tt2040334',
  'Country': 'USA',
  'Budget': '$12,500',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '102 min'},
 {'title_id': 'tt2040418',
  'Country': 'Jamaica',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '49 min'},
 {'title_id': 'tt2040454',
  'Country': 'USA',
  'Budget': '$100,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2040571',
  'Country': 'Netherlands',
  'Budget': 'EUR200,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '144 min'},
 {'title_id': 'tt2041529',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '80 min'},
 {'title_id': 'tt2042492',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '20 min'},
 {'title_id': 'tt2042657',
  'Country': 'Singapore',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '91 min'},
 {'title_id': 'tt2042667',
  'Country': 'UK',
  'Budget': 'GBP2,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2043773',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '67 min'},
 {'title_id': 'tt2043781',
  'Country': 'Morocco',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '97 min'},
 {'title_id': 'tt2048865',
  'Country': 'USA',
  'Budget': '$3,000,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '82 min'},
 {'title_id': 'tt2049386',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '99 min'},
 {'title_id': 'tt2049448',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '95 min'},
 {'title_id': 'tt2049540',
  'Country': 'France',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2049586',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': '$86,741,',
  'Gross USA': '$365,422',
  'Cumulative Worldwide Gross': '$365,422',
  'Runtime': '116 min'},
 {'title_id': 'tt2050526',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '51 min'},
 {'title_id': 'tt2053405',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '79 min'},
 {'title_id': 'tt2053425',
  'Country': 'France',
  'Budget': 'EUR15,400,000',
  'Opening Weekend USA': '$27,154,',
  'Gross USA': '$2,062,027',
  'Cumulative Worldwide Gross': '$25,807,712',
  'Runtime': '120 min'},
 {'title_id': 'tt2055666',
  'Country': 'Poland',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$300,463',
  'Runtime': '87 min'},
 {'title_id': 'tt2055781',
  'Country': 'UK',
  'Budget': 'GBP500',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2056535',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '91 min'},
 {'title_id': 'tt2057421',
  'Country': 'Greece',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '77 min'},
 {'title_id': 'tt2058673',
  'Country': 'China',
  'Budget': '$105,000,000',
  'Opening Weekend USA': '$9,800,252,',
  'Gross USA': '$28,782,481',
  'Cumulative Worldwide Gross': '$133,718,711',
  'Runtime': '114 min'},
 {'title_id': 'tt2059181',
  'Country': 'Spain',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$362',
  'Runtime': nan},
 {'title_id': 'tt2059205',
  'Country': 'Germany',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2061626',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '58 min'},
 {'title_id': 'tt2061814',
  'Country': 'Germany',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '80 min'},
 {'title_id': 'tt2062687',
  'Country': 'Malaysia',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2062945',
  'Country': 'Canada',
  'Budget': 'CAD1,200,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '89 min'},
 {'title_id': 'tt2063633',
  'Country': 'India',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '140 min'},
 {'title_id': 'tt2063721',
  'Country': 'Japan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2063781',
  'Country': 'USA',
  'Budget': '$500,000',
  'Opening Weekend USA': '$26,943,',
  'Gross USA': '$376,597',
  'Cumulative Worldwide Gross': '$499,725',
  'Runtime': '81 min'},
 {'title_id': 'tt2064741',
  'Country': 'Iceland',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '46 min'},
 {'title_id': 'tt2065867',
  'Country': 'Italy',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2066995',
  'Country': 'USA',
  'Budget': '$40,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2069020',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '81 min'},
 {'title_id': 'tt2069839',
  'Country': 'USA',
  'Budget': '$75,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '87 min'},
 {'title_id': 'tt2069908',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '74 min'},
 {'title_id': 'tt2070643',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '105 min'},
 {'title_id': 'tt2070701',
  'Country': 'Hungary',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '99 min'},
 {'title_id': 'tt2070762',
  'Country': 'Australia',
  'Budget': 'AUD20,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2070831',
  'Country': 'India',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt2070882',
  'Country': 'Chile',
  'Budget': '$250,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '82 min'},
 {'title_id': 'tt2071416',
  'Country': 'Italy',
  'Budget': 'EUR600',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2071445',
  'Country': 'Spain',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '78 min'},
 {'title_id': 'tt2071464',
  'Country': 'Canada',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '87 min'},
 {'title_id': 'tt2073135',
  'Country': 'Argentina',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2073582',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '101 min'},
 {'title_id': 'tt2073672',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '75 min'},
 {'title_id': 'tt2074461',
  'Country': 'UK',
  'Budget': 'GBP95,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '73 min'},
 {'title_id': 'tt2075108',
  'Country': 'India',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '120 min'},
 {'title_id': 'tt2075157',
  'Country': 'Spain',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '72 min'},
 {'title_id': 'tt2075162',
  'Country': 'UK',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '52 min'},
 {'title_id': 'tt2075201',
  'Country': 'China',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2075303',
  'Country': 'Japan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '88 min'},
 {'title_id': 'tt2075377',
  'Country': 'Uzbekistan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2076227',
  'Country': 'Iceland',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '76 min'},
 {'title_id': 'tt2076246',
  'Country': 'Greece',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '63 min'},
 {'title_id': 'tt2076395',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '73 min'},
 {'title_id': 'tt2076897',
  'Country': 'UK',
  'Budget': nan,
  'Opening Weekend USA': '$10,305,',
  'Gross USA': '$44,906',
  'Cumulative Worldwide Gross': '$132,056',
  'Runtime': '111 min'},
 {'title_id': 'tt2078593',
  'Country': 'Germany',
  'Budget': 'EUR50,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2079591',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '87 min'},
 {'title_id': 'tt2080308',
  'Country': 'USA',
  'Budget': '$5,200',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '70 min'},
 {'title_id': 'tt2080379',
  'Country': 'Estonia',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '48 min'},
 {'title_id': 'tt2081274',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '94 min'},
 {'title_id': 'tt2082475',
  'Country': 'Germany',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$1,286',
  'Runtime': '90 min'},
 {'title_id': 'tt2082494',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '113 min'},
 {'title_id': 'tt2083250',
  'Country': 'Italy',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': nan},
 {'title_id': 'tt2083385',
  'Country': 'USA',
  'Budget': '$15,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '96 min'},
 {'title_id': 'tt2084005',
  'Country': 'Switzerland',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '91 min'},
 {'title_id': 'tt2084043',
  'Country': 'USA',
  'Budget': '$150,000',
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '89 min'},
 {'title_id': 'tt2084816',
  'Country': 'Canada',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '92 min'},
 {'title_id': 'tt2084941',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '90 min'},
 {'title_id': 'tt2085832',
  'Country': 'Indonesia',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '75 min'},
 {'title_id': 'tt2085919',
  'Country': 'Japan',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '80 min'},
 {'title_id': 'tt2086894',
  'Country': 'South Korea',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '91 min'},
 {'title_id': 'tt2086948',
  'Country': 'Poland',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '85 min'},
 {'title_id': 'tt2087886',
  'Country': 'Thailand',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '53 min'},
 {'title_id': 'tt2087910',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '100 min'},
 {'title_id': 'tt2088919',
  'Country': 'USA',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': nan,
  'Runtime': '95 min'},
 {'title_id': 'tt2090497',
  'Country': 'Spain',
  'Budget': nan,
  'Opening Weekend USA': nan,
  'Gross USA': nan,
  'Cumulative Worldwide Gross': '$521,145',

In [196]:
df['Budget'].isna().sum()

11430

In [197]:
df['Budget']

0        $150,000,000
1                 NaN
2        $250,000,000
3                 NaN
4                 NaN
             ...
16586             NaN
16587        $100,000
16588       GBP10,000
16589             NaN
16590             NaN
Name: Budget, Length: 16591, dtype: object

In [184]:
np.random.randint(9.1000) * .015000

0.015

In [198]:
imdb2.loc[imdb2['title_id'] == 'tt1562899']

,title_id,ordering,title,region,language,types,attributes,is_original_title
780,tt1562899,10,Djin,RS,NaN,imdbDisplay,NaN,0.0

In [209]:
len(final_list)

8623

In [210]:
df = pd.DataFrame(final_list)
df.to_csv('imdb_monetary_data_16591_to_25214_.csv')