In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:


imdb2 = pd.read_csv("zippedData/imdb.title.akas.csv.gz")

In [97]:
imdb2.drop_duplicates(subset=['title_id'])

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
48,tt0381957,1,Cloud Cuckoo Land,GB,NaN,NaN,NaN,0.0
49,tt0401729,10,Джон Картер: Мiж двох свiтiв,UA,NaN,NaN,NaN,0.0
83,tt10010134,1,Versailles Rediscovered - The Sun King's Vanis...,NaN,NaN,original,NaN,1.0
86,tt10027708,1,Miguelito - Canto a Borinquen,NaN,NaN,original,NaN,1.0
...,...,...,...,...,...,...,...,...
331689,tt9723084,1,Anderswo. Allein in Afrika,DE,NaN,imdbDisplay,NaN,0.0
331691,tt9726638,1,Qi Tian Da Sheng 2,CN,yue,imdbDisplay,NaN,0.0
331694,tt9755806,1,Big Shark,US,NaN,NaN,NaN,0.0
331697,tt9827784,1,Sayonara kuchibiru,JP,NaN,NaN,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0

In [191]:



def scraper(title_id):
    
    try:
        page = requests.get(f"https://www.imdb.com/title/{title_id}/")
        soup = BeautifulSoup(page.content, 'html.parser')
    except:
        pass
        
    categories = soup.find_all('h4', class_="inline")

    cat_list = []
    for cat in categories:
        cat_list.append(cat.text)

    
    for i in categories:
        if i.text == 'Country:':
            print(i.text, i.next_element.next_element.next_element.text.strip())
        if i.text == 'Budget:':
            print(i.text, i.next_element.next_element.strip())
        if i.text == 'Opening Weekend USA:':
            print(i.text, i.next_element.next_element.strip())
        if i.text == 'Gross USA:':
            print(i.text, i.next_element.next_element.strip())
        if i.text == 'Cumulative Worldwide Gross:':
            print(i.text, i.next_element.next_element.strip())
        if i.text == 'Runtime:':
            print(i.text, i.next_element.next_element.next_element.text.strip()) 
        
        
        
        
    #return soup

In [192]:
scraper('tt9880178')

Country: Spain
Budget: EUR64,000
Runtime: 61 min

In [5]:
for category in soup.find(id='content-2-wide'):
    title = category.find('a').contents[0]
    genres = movie.find('span','genre').findAll('a')
    genres = [g.contents[0] for g in genres]
    runtime = movie.find('span','runtime').contents[0]
    year = movie.find('span','year_type').contents[0]
    print title, genres,runtime, rating, year

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(title, genres,runtime, rating, year)? (<ipython-input-5-7907c7e69dde>, line 7)

In [184]:
page = requests.get(f"https://www.imdb.com/title/tt1853728/")
soup = BeautifulSoup(page.content, 'html.parser')

In [185]:
categories = soup.find_all('h4', class_="inline")

In [186]:
categories

[<h4 class="inline">Director:</h4>,
 <h4 class="inline">Writer:</h4>,
 <h4 class="inline">Stars:</h4>,
 <h4 class="inline">Plot Keywords:</h4>,
 <h4 class="inline">Taglines:</h4>,
 <h4 class="inline">Genres:</h4>,
 <h4 class="inline">Parents Guide:</h4>,
 <h4 class="inline">Official Sites:</h4>,
 <h4 class="inline">Country:</h4>,
 <h4 class="inline">Language:</h4>,
 <h4 class="inline">Release Date:</h4>,
 <h4 class="inline">Also Known As:</h4>,
 <h4 class="inline">Filming Locations:</h4>,
 <h4 class="inline">Budget:</h4>,
 <h4 class="inline">Opening Weekend USA:</h4>,
 <h4 class="inline">Gross USA:</h4>,
 <h4 class="inline">Cumulative Worldwide Gross:</h4>,
 <h4 class="inline">Production Co:</h4>,
 <h4 class="inline">Runtime:</h4>,
 <h4 class="inline">Sound Mix:</h4>,
 <h4 class="inline">Color:</h4>,
 <h4 class="inline">Aspect Ratio:</h4>]

In [187]:
cat_list = []
for cat in categories:
    cat_list.append(cat.text)

In [188]:
for i in categories:
    if i.text == 'Country:':
        print(i.text, i.next_element.next_element.next_element.text.strip())
    if i.text == 'Budget:':
        print(i.text, i.next_element.next_element.strip())
    if i.text == 'Opening Weekend USA:':
        print(i.text, i.next_element.next_element.strip())
    if i.text == 'Gross USA:':
        print(i.text, i.next_element.next_element.strip())
    if i.text == 'Cumulative Worldwide Gross:':
        print(i.text, i.next_element.next_element.strip())
    if i.text == 'Runtime:':
        print(i.text, i.next_element.next_element.next_element.text.strip())

Country: USA
Budget: $100,000,000
Opening Weekend USA: $30,122,888,
Gross USA: $162,805,434
Cumulative Worldwide Gross: $425,368,238
Runtime: 165 min

In [138]:
categories[9].next_element.next_element.next_element.text

'English'

In [139]:
categories[10]

In [10]:
title_info

<div class="article" id="titleDetails">
<span class="rightcornerlink">
<a href="/register/login?why=edit" rel="login">Edit</a>
</span>
<h2>Details</h2>
<div class="txt-block">
<h4 class="inline">Official Sites:</h4>
<a href="/offsite/?page-action=offsite-jurassicworld&amp;token=BCYthUmGwfMXCeWTMxEl5kQyUgJWcoXd3ru3ggutAvLjqsJhQPNamtV0NfX7Hp9nG--pW9mPddow%0D%0Aj1AuUELObv3ShXygvA6oErVYV30yALdT75dyHB3ViJ_QBp8KYPSwIvoPaofIU7QrcmQMHNaB0gbz%0D%0AqjAMnk-s6BKNT6XkKLhsDkPQgrwNRmGaBW5ewy_KGvQo3w23pxNU_ihayEtB_osO6txJ32LvppPk%0D%0AbMUSwxJAAw4%0D%0A" rel="nofollow">Official site</a>
<span class="ghost">|</span>
<a href="/offsite/?page-action=offsite-jurassicworldintl&amp;token=BCYlF_cFUQioKMc-ooMUOoj8z4RPhig4su28nPJ9HFqV0hZ-3-oYlwbfgUoHVyt-X6ZrQs0i1S80%0D%0A33hMoEtMySXS2m9HQOKEZv6YTAO-efXvv2reeXMyYhXPaRdDC5z0pMOY39M1trdDoHvSUm8R2AHb%0D%0AQpQ2i6d9_Y-5WR2F0olNeT9BoXIWCOqDsZq_wtYAQWcp4436-km_EjgzB9NoHQmtDmOInmNeV1fG%0D%0AElxn_MoTbps%0D%0A" rel="nofollow">Official site [France]</a>
<span class="ghost">|</span>
<span class="see-more inline">
<a href="externalsites#official">See more</a> »
      </span>
</div>
<div class="txt-block">
<h4 class="inline">Country:</h4>
<a href="/search/title?country_of_origin=us">USA</a>
</div>
<div class="txt-block">
<h4 class="inline">Language:</h4>
<a href="/search/title?title_type=feature&amp;primary_language=en&amp;sort=moviemeter,asc">English</a>
</div>
<div class="txt-block">
<h4 class="inline">Release Date:</h4> 12 June 2015 (USA)
    <span class="see-more inline">
<a href="releaseinfo">See more</a> »
    </span>
</div>
<div class="txt-block">
<h4 class="inline">Also Known As:</h4> Jurassic Park 4
      <span class="see-more inline">
<a href="releaseinfo#akas">See more</a> »
      </span>
</div>
<div class="txt-block">
<h4 class="inline">Filming Locations:</h4>
<a href="/search/title?locations=Louisiana,%20USA">Louisiana, USA</a>
<span class="see-more inline">
<a href="locations">See more</a> »
      </span>
</div>
<hr/>
<span class="rightcornerlink">
<a href="/register/login?why=edit" rel="login">Edit</a>
</span>
<h3 class="subheading">Box Office</h3>
<div class="txt-block">
<h4 class="inline">Budget:</h4>$150,000,000
            <span class="attribute">(estimated)</span>
</div>
<div class="txt-block">
<h4 class="inline">Opening Weekend USA:</h4> $208,806,270,
<span class="attribute">14 June 2015</span> </div>
<div class="txt-block">
<h4 class="inline">Gross USA:</h4> $652,270,625        </div>
<div class="txt-block">
<h4 class="inline">Cumulative Worldwide Gross:</h4> $1,670,401,444        </div>
<span class="see-more inline">
<a href="https://pro.imdb.com/title/tt0369610?rf=cons_tt_bo_tt">See more on IMDbPro</a> »
    </span>
<hr/>
<h3 class="subheading">Company Credits</h3>
<div class="txt-block">
<h4 class="inline">Production Co:</h4>
<a href="/company/co0005073"> Universal Pictures</a>,<a href="/company/co0009119"> Amblin Entertainment</a>,<a href="/company/co0159111"> Legendary Entertainment</a> <span class="see-more inline">
<a href="companycredits">See more</a> »
      </span>
</div>
<div class="txt-block">
  Show more on
  <a href="https://pro.imdb.com/title/tt0369610/companycredits?rf=cons_tt_cocred_tt">IMDbPro</a> »
  </div>
<hr/>
<h3 class="subheading">Technical Specs</h3>
<div class="txt-block">
<h4 class="inline">Runtime:</h4>
<time datetime="PT124M">124 min</time>
</div>
<div class="txt-block">
<h4 class="inline">Sound Mix:</h4>
<a href="/search/title?sound_mixes=dolby_digital">Dolby Digital</a>
<span class="ghost">|</span> <a href="/search/title?sound_mixes=datasat">Datasat</a>
<span class="ghost">|</span> <a href="/search/title?sound_mixes=dolby_atmos">Dolby Atmos</a>
<span class="ghost">|</span> <a href="/search/title?sound_mixes=dolby_surround_7.1">Dolby Surround 7.1</a>
<span class="ghost">|</span> <a href="/search/title?sound_mixes=sdds">SDDS</a>
<span class="ghost">|</span> <a href="/search/title?sound_mixes=auro_11.1">Auro 11.1</a>
</div>
<div class="txt-block">
<h4 class="inline">Color:</h4>
<a href="/search/title?colors=color">Color</a>
</div>
<div class="txt-block">
<h4 class="inline">Aspect Ratio:</h4> 2.00 : 1
    </div>

  See <a href="technical">full technical specs</a> »
    </div>

In [20]:
director = categories[0].next_element.next_element.next_element.text

In [22]:
writer

'Rick Jaffa'

In [40]:
plot_keywords = cat_list[3], categories[3].next_element.next_element.next_element.next_element

In [42]:
cat_list[5], categories[5].next_element.next_element.next_element

('Genres:',
 <a href="/search/title?genres=action&amp;explore=title_type,genres"> Action</a>)

In [43]:
cat_list[6], categories[6].next_element.next_element.next_element.text

('Parents Guide:', '\n View content advisory\xa0»\n        ')

In [ ]:
budget = categories[16].next_element

try:
    budget
    break
except IndexError as error:
    print('there are no more categories')

In [ ]:
categories[1].next_element.next_element.next_element.text

-----------------------

In [ ]:
soup.find_all('td','title')

In [ ]:
categories[1]

In [39]:
movie = pd.DataFrame(columns=cat_list)
movie

Empty DataFrame
Columns: [Director:, Writers:, Stars:, Plot Keywords:, Taglines:, Genres:, Parents Guide:, Official Sites:, Country:, Language:, Release Date:, Also Known As:, Filming Locations:, Budget:, Opening Weekend USA:, Gross USA:, Cumulative Worldwide Gross:, Production Co:, Runtime:, Sound Mix:, Color:, Aspect Ratio:]
Index: []

[0 rows x 22 columns]